@{
    Layout = null;
    //UserPartStep/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>校区分级</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            partsteps = {
                add: function () {
                    DataGridNone('/UserPartStep/AddPartStep');
                },
                edit: function () {
                    DataGridRow('#partsteps-grid', '/UserPartStep/EditPartStep');
                },
                del: function () {
                    DataGridRow('#partsteps-grid', '/UserPartStep/DelPartStep');
                }
            }

            //数据表格
            $('#partsteps-grid').datagrid({
                fit: true,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: true,
                checkOnSelect: true,
                url: '/UserPartStep/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { title: '校区分级编号', field: 'IDS', align: 'center', sortable: true, width: 150 },
                    { title: '校区名称', field: 'PartName', align: 'center', sortable: true, width: 100 },
                    { title: '分级名称', field: 'StepName', align: 'center', sortable: true, width: 100 }
                ]],

                toolbar: '#partsteps-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });
        })
    </script>
</head>
<body>
    <table id="partsteps-grid"></table>
    <div id="partsteps-grid-tool">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="partsteps.add();">添加</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="partsteps.edit();">修改</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="partsteps.del();">删除</a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
