@{
    Layout = null;
    //AdminCoumn/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>栏目设置</title>

    <script type="text/javascript">
        $(function () {
            //点击动作
            admincolumns = {
                add: function () {
                    var node = $('#admincolumns-tree').tree('getSelected');
                    if (!node) {
                        $.messager.alert('错误提示', '前端：没有选择！', 'error');
                        return false;
                    }
                    if (node.memo != 'Page') {
                        $.messager.alert('错误提示', '前端：没有选择相应的页面！', 'error');
                        return false;
                    }
                    var param = { id: node.id };
                    DataGridRequest('/AdminCoumn/Add', param);
                },
                edit: function () {
                    DataGridRowID('#admincolumns-grid', '/AdminCoumn/Edit');
                },
                del: function () {
                    DataGridRowID('#admincolumns-grid', '/AdminCoumn/Del');
                }
            }

            //数据表格
            $('#admincolumns-grid').datagrid({
                fit: true,
                border: false,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: true,
                checkOnSelect: true,
                url: '/AdminCoumn/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { title: '栏目名称', field: 'Name', align: 'center', width: 150 },
                    { title: '栏目编号', field: 'IDS', align: 'center', width: 200 },
                    {
                        title: '是否启用', field: 'Fixed', align: 'center', width: 60,
                        formatter: function (value, row, index) {
                            //不输出任何东西
                            //return value.ok ? null : value.message;
                        },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_del.png') no-repeat center center;";
                            }
                        },
                    },
                ]],

                toolbar: '#admincolumns-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });

            $('#admincolumns-lay').layout({
                fit: true,
                border: true,
            });

            $('#admincolumns-tree').tree({
                fit: true,
                url: '/AdminCoumn/MenuTree',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },
                onClick: function (node) {
                    if (node) {
                        $('#admincolumns-grid').datagrid({
                            queryParams: {
                                id: node.id,
                                memo: node.memo,
                            }
                        });
                    }
                },
            });

        })

    </script>
</head>
<body>
    <div id="admincolumns-lay">
        <div data-options="region:'west',border:true, title:'模板页面'" style="width:180px;">
            <ul id="admincolumns-tree"></ul>
        </div>
        <div data-options="region:'center',border:true">
            <table id="admincolumns-grid"></table>
            <div id="admincolumns-grid-tool">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="admincolumns.add();">添加</a>
                            </td>
                            <td>
                                <div class="datagrid-btn-separator"></div>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="admincolumns.edit();">修改</a>
                            </td>
                            <td>
                                <div class="datagrid-btn-separator"></div>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="admincolumns.del();">删除</a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
