@{
    Layout = null;
    //UserStud/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>年度学生</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            studins = {
                add: function () {
                    var node = $('#studs-tree').tree('getSelected');
                    if (!node) {
                        $.messager.alert('错误提示', '前端：没有选择校区！', 'error');
                        return false;
                    }
                    var param = {
                        id: node.id,
                        memo: node.memo,
                    }
                    DataGridRequest('/UserStud/Add', param);
                },
                edit: function () {
                    DataGridRows('#studins-grid', '/UserStud/GradeCheck');
                },
                drop: function () {
                    DataGridRow('#studins-grid', '/UserStud/Drop');
                },
                out: function () {
                    DataGridRow('#studins-grid', '/UserStud/Out');
                },
                search: function () {
                    var node = $('#studs-tree').tree('getSelected');
                    if (!node) {
                        $.messager.alert('错误提示', '前端：没有选择校区！', 'error');
                        return false;
                    }
                    var text = $('#studins-text').val();
                    var param = {
                        id: node.id,
                        memo: node.memo,
                        text: text,
                    }
                    DataGridSearchParam('#studins-text', '#studins-grid', '/UserStud/DataGrid', param);
                },
                search2: function () {
                    var node = $('#studs-tree').tree('getSelected');
                    if (!node) {
                        $.messager.alert('错误提示', '前端：没有选择校区！', 'error');
                        return false;
                    }
                    var text = $('#studouts-text').val();
                    var param = {
                        id: node.id,
                        memo: node.memo,
                        text: text,
                    }
                    DataGridSearchParam('#studouts-text', '#studouts-grid', '/UserStud/DataGrid2', param)
                },
            }

            studouts = {
                back: function () {
                    DataGridRow('#studouts-grid', '/UserStud/Back');
                },
                backs: function () {
                    DataGridRowsNoForm('#studouts-grid', '/UserStud/Backs', function (d) {
                        $('#studins-grid').datagrid('reload');
                        $('#studouts-grid').datagrid('reload');
                        $.messager.alert('提示', d.message, 'error');
                    })
                },
            }

            //数据表格
            $('#studins-grid').datagrid({
                fit: true,
                border: false,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: false,
                checkOnSelect: true,
                url: '/UserStud/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { field: 'ck', checkbox: true },
                    { title: '班级', field: 'BanName', align: 'center', sortable: true, width: 110 },
                    { title: '身份证号', field: 'IDC', align: 'center', sortable: true, width: 150 },
                    { title: '姓名', field: 'StudName', align: 'center', sortable: true, width: 60 },
                    { title: '性别', field: 'StudSex', align: 'center', sortable: true, width: 50 },
                    { title: '学生来源', field: 'ComeName', align: 'center', sortable: true, width: 70 },
                ]],

                toolbar: '#studins-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });


            //数据表格
            $('#studouts-grid').datagrid({
                fit: true,
                border: false,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: false,
                checkOnSelect: true,
                url: '/UserStud/DataGrid2',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { field: 'ck', checkbox: true },
                    { title: '分级', field: 'StepName', align: 'center', sortable: true, width: 60 },
                    { title: '姓名', field: 'StudName', align: 'center', sortable: true, width: 60 },
                    { title: '身份证号', field: 'IDC', align: 'center', sortable: true, width: 150 },
                    { title: '离校说明', field: 'OutName', align: 'center', sortable: true, width: 70 },
                ]],

                toolbar: '#studouts-grid-tool',
                pagination: false,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });


            $('#studs-lay').layout({
                fit: true,
                border: true,
            });

            $('#studs-tree').tree({
                fit: true,
                url: '/UserStud/GradeTree',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },
                onBeforeLoad: function (node, param) {
                    if (node) {
                        param.memo = node.memo;
                    }
                },
                onClick: function (node) {
                    if (node) {
                        $('#studins-grid').datagrid({
                            queryParams: {
                                id: node.id,
                                memo: node.memo,
                                text: null,
                            }
                        });
                        $('#studouts-grid').datagrid({
                            queryParams: {
                                id: node.id,
                                memo: node.memo,
                                text: null,
                            }
                        });
                    }
                },
            });

        })

    </script>
</head>
<body>
    <div id="studs-lay">
        <div data-options="region:'west',border:true" style="width:180px;">
            <ul id="studs-tree"></ul>
        </div>
        <div data-options="region:'center',border:true">
            <table id="studins-grid"></table>

            <div id="studins-grid-tool">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td>
                                <a href="javascript:void(0);" class="easyui-splitbutton" menu="#studs-mm-add" iconcls="icon-add">增加</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="easyui-splitbutton" menu="#studs-mm-edit" iconcls="icon-edit">变更</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="easyui-splitbutton" menu="#studs-mm-remove" iconcls="icon-remove">减少</a>
                            </td>
                            <td style="width:8px;"></td>
                            <td>
                                <span class="textbox">
                                    <input class="textbox-text" id="studins-text" style="width:165px;" />
                                </span>
                            </td>
                            <td style="width:8px;"></td>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="studins.search();">查询</a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div data-options="region:'east',border:true" style="width:450px;">
            <table id="studouts-grid"></table>
            <div id="studouts-grid-tool">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td>
                                <a href="javascript:void(0);" class="easyui-splitbutton" menu="#studs-mm-back" iconcls="icon-undo">回校</a>
                            </td>
                            <td style="width:8px;"></td>
                            <td>
                                <span class="textbox">
                                    <input class="textbox-text" id="studouts-text" style="width:165px;" />
                                </span>
                            </td>
                            <td style="width:8px;"></td>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="studins.search2();">查询</a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div id="studs-mm-add" style="width:150px;">
        <div>批量导入...</div>
        <div class="menu-sep"></div>
        <div iconcls="icon-redo" onclick="studins.add();">添加...</div>
    </div>
    <div id="studs-mm-edit" style="width:150px;">
        <div iconcls="icon-man">修改...</div>
        <div class="menu-sep"></div>
        <div>学籍办理...</div>
    </div>
    <div id="studs-mm-remove" style="width:150px;">
        <div onclick="studins.drop();">休学...</div>
        <div class="menu-sep"></div>
        <div iconcls="icon-clear" onclick="studins.out();">离校...</div>
    </div>
    <div id="studs-mm-back" style="width:150px;">
        <div onclick="studouts.back();">单个...</div>
        <div class="menu-sep"></div>
        <div iconcls="icon-clear" onclick="studouts.backs();">全部回校...</div>
    </div>

</body>
</html>
