@{
    Layout = null;
    //MastBan/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>我的班级</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            masterbanins = {
                edit: function () {
                    DataGridRow('#masterban-ins-grid', '/MastBan/Edit');
                },
                fix: function () {
                    DataGridRow('#masterban-ins-grid', '/MastBan/Fix');
                },
                unfix: function () {
                    $.messager.confirm('状态重置', '确定要重置选中学生的确认状态？', function (r) {
                        if (r) {
                            DataGridRowsNoForm('#masterban-ins-grid', '/MastBan/UnFix', function (data) {
                                var selects = $('#masterban-ins-grid').datagrid('getSelections');
                                //提交成功，刷新网格
                                for (var i = 0; i < selects.length; i++) {
                                    var select = selects[i];
                                    var row = data[i];
                                    select.Fixed = row.Fixed;
                                    var index = $('#masterban-ins-grid').datagrid('getRowIndex', select);
                                    $('#masterban-ins-grid').datagrid('updateRow', { index: index, row: select });
                                }
                            });
                        }
                    });
                },
                search: function () {
                    var text = $('#masterban-ins-text').val();
                    var param = {
                        text: text,
                    }
                    DataGridSearchQuery('#masterban-ins-text', '#masterban-ins-grid', '#masterban-outs-grid', '/MastBan/DataGrid', '/MastBan/DataGrid2', param);
                },
            }

            masterbanouts = {
                detail: function () {
                    DataGridRow('#masterban-outs-grid', '/MastBan/Detail');
                },
            }

            //数据表格
            $('#masterban-ins-grid').datagrid({
                fit: true,
                border: false,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: false,
                checkOnSelect: true,
                url: '/MastBan/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { field: 'ID', checkbox: true },
                    { title: '班级', field: 'BanName', align: 'center', sortable: true, width: 110 },
                    { title: '身份证号', field: 'CID', align: 'center', sortable: true, width: 150 },
                    { title: '姓名', field: 'StudName', align: 'center', sortable: true, width: 60 },
                    { title: '性别', field: 'StudSex', align: 'center', sortable: true, width: 50 },
                    { title: '学生来源', field: 'ComeName', align: 'center', sortable: true, width: 70 },
                    {
                        title: '资料完整', field: 'Checked', halign: 'center', sortable: true, width: 70,
                        formatter: function (value, row, index) {
                            //不输出任何东西
                            //return value.ok ? null : value.message;
                        },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                            }
                        }
                    },
                    {
                        title: '是否确认', field: 'Fixed', halign: 'center', sortable: true, width: 70,
                        formatter: function (value, row, index) {
                            //不输出任何东西
                            //return value.ok ? null : value.message;
                        },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                            }
                        }
                    },
                ]],

                toolbar: '#masterban-ins-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });


            //数据表格
            $('#masterban-outs-grid').datagrid({
                fit: true,
                border: false,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: true,
                checkOnSelect: true,
                url: '/MastBan/DataGrid2',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { title: '年级', field: 'StepName', align: 'center', sortable: true, width: 60 },
                    { title: '姓名', field: 'StudName', align: 'center', sortable: true, width: 60 },
                    { title: '身份证号', field: 'CID', align: 'center', sortable: true, width: 150 },
                    { title: '离校说明', field: 'OutName', align: 'center', sortable: true, width: 70 },
                ]],

                toolbar: '#masterban-outs-grid-tool',
                pagination: false,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });

            $('#masterban-lay').layout({
                fit: true,
                border: true,
            });


        })

    </script>
</head>
<body>
    <div id="masterban-lay">
        <div data-options="region:'center',border:true, title:'在校生'">
            <table id="masterban-ins-grid"></table>
            <div id="masterban-ins-grid-tool">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td>
                                <a href="javascript:void(0);" class="easyui-splitbutton" menu="#masterban-mm-edit" iconcls="icon-edit">变更</a>
                            </td>
                            <td style="width:8px;"></td>
                            <td>
                                <span class="textbox">
                                    <input class="textbox-text" id="masterban-ins-text" style="width:165px;" />
                                </span>
                            </td>
                            <td style="width:8px;"></td>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="masterbanins.search();">查询</a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div data-options="region:'east',border:true, title:'不在校'" style="width:400px;">
            <table id="masterban-outs-grid"></table>
            <div id="masterban-outs-grid-tool">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-man" plain="true" onclick="masterbanouts.detail();">详细资料</a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div id="masterban-mm-edit" style="width:150px;">
        <div iconcls="icon-reload" onclick="masterbanins.unfix();">状态重置...</div>
        <div class="menu-sep"></div>
        <div iconcls="icon-man" onclick="masterbanins.edit();">修改...</div>
        <div onclick="masterbanins.fix();">信息确认...</div>
    </div>
</body>
</html>
