@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>我的学生</title>
    <script type="text/javascript">
        $(function () {
            //点击动作
            studs = {
                edit: function () {
                    var row = $('#studs-grid').datagrid('getSelected');
                    if (!row) {
                        $.messager.alert('错误提示', '未选择相应的学生！', 'error');
                        return false;
                    }
                    //禁用
                    $('.easyui-linkbutton[iconcls="icon-edit"]').linkbutton('disable');
                    //打开窗口
                    $.post('/Client/Edit', { id: row.StudGD }, function (d) {
                        if (d.error) {
                            $.messager.alert('错误提示', d.message, 'error');
                        } else {
                            $('<div id="dialog-form">').appendTo('#body').html(d);
                        }
                    });
                },
                search: function () {
                    var text = $.trim($('#studs-grid-text').val());
                    if (text.length == 0) {
                        //刷新
                        $('#studs-grid').datagrid({
                            queryParams: {}
                        });
                    } else {
                        //读取部分
                        $('#studs-grid').datagrid({
                            queryParams: { text: text }
                        });
                    }
                }
            }

            //数据表格
            $('#studs-grid').datagrid({
                fit: true,
                striped: true,
                rownumbers: true,
                //fitColumns: true,
                remoteSort: false,
                singleSelect: true,
                checkOnSelect: true,
                url: '/Client/StudsPage',
                loadMsg: '数据加载中，请稍候……',

                columns: [[{
                    field: 'StudGD',
                    checkbox: true,
                }, {
                    title: '班级',
                    field: 'ClaID',
                    align: 'center',
                    sortable: true,
                    width: 80
                }, {
                    title: '姓名',
                    field: 'StudName',
                    align: 'center',
                    sortable: true,
                    width: 80
                }, {
                    title: '性别',
                    field: 'StudSex',
                    align: 'center',
                    sortable: true,
                    width: 60
                }, {
                    title: '民族',
                    field: 'StudNation',
                    align: 'center',
                    width: 60
                }, {
                    title: '身份证号',
                    field: 'StudIDS',
                    align: 'center',
                    sortable: true,
                    width: 150
                }, {
                    title: '户籍地址',
                    field: 'StudHome',
                    align: 'center',
                    width: 200
                }, {
                    title: '是否择校生',
                    field: 'StudChoose',
                    align: 'center',
                    width: 80,
                    formatter: function (value, row, index) {
                        //不输出任何东西
                    },
                    styler: function (value, row, index) {
                        if (value == '是') {
                            return "text-indent:20px;background:url('/Content/themes/icons/ok.png') no-repeat center center;";
                        }
                    }
                }, {
                    title: '通过验证',
                    field: 'StudValided',
                    halign: 'center',
                    sortable: true,
                    width: 80,
                    formatter: function (value, row, index) {
                        //不输出任何东西
                    },
                    styler: function (value, row, index) {
                        if (value) {
                            return "text-indent:20px;background:url('/Content/themes/icons/ok.png') no-repeat center center;";
                        } else {
                            return "text-indent:20px;background:url('/Content/themes/icons/no.png') no-repeat center center;";
                        }
                    }
                }
                ]],

                toolbar: '#studs-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });
        })
    </script>
</head>
<body>
    <table id="studs-grid"></table>
    <div id="studs-grid-tool">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="studs.edit();">修改</a>
                    </td>
                    <td style="width:10px;"></td>
                    <td>
                        <span class="textbox">
                            <input class="textbox-text" id="studs-grid-text" />
                        </span>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="studs.search();">查询</a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
