@{
    Layout = null;
}


<table id="WxPrize-grid"></table>
<div id="WxPrize-grid-tool">
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="WxPrize.add();">添加</a>
                </td>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="WxPrize.edit();">修改</a>
                </td>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="WxPrize.del();">删除</a>
                </td>
                <td style="width:5px;"></td>
                <td>
                    <span class="textbox">
                        <input class="textbox-text" id="WxPrize-text" style="width:165px;" />
                    </span>
                </td>
                <td style="width:8px;"></td>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="WxPrize.search();">查询</a>
                </td>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="WxPrize.reload();">刷新</a>
                </td>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    //点击动作
    WxPrize = {
        reload: function () {
            DataGridParams('#WxPrize-grid', '/WxPrize/DataGrid', {})
        },
        add: function () {
            DataGridNone('/WxPrize/Add')
        },
        edit: function () {
            DataGridRowID('#WxPrize-grid', '/WxPrize/Edit')
        },
        del: function () {
            DataGridRowID('#WxPrize-grid', '/WxPrize/Del')
        },
        search: function () {
            var text = $('#WxPrize-text').val();
            var param = {
                text: text,
            }
            DataGridSearchParam('#WxPrize-text', '#WxPrize-grid', '/WxPrize/DataGrid', param);
        },
    }
    //数据表格
    $('#WxPrize-grid').datagrid({
        fit: true,
        striped: true,
        rownumbers: true,
        fitColumns: false,
        remoteSort: false,
        singleSelect: true,
        checkOnSelect: true,
        url: '/WxPrize/DataGrid',
        loadFilter: function (d) {
            if (d.error) {
                $.messager.alert('错误提示', d.message, 'error');
                return { total: 0, rows: [] };
            } else {
                return d;
            }
        },

        columns: [[
            { title: '奖项编号', field: 'IDS', align: 'center', sortable: true, width: 90 },
            { title: '奖项名称', field: 'Name', align: 'center', sortable: true, width: 120 },
            { title: '奖品数量', field: 'Num', align: 'center', sortable: true, width: 90 },
        ]],

        toolbar: '#WxPrize-grid-tool',
        pagination: true,
        pageSize: 100,
        pageList: [100, 200, 500],
        pageNumber: 1,
    });
</script>