@{
    Layout = null;

    var dd = new Random();
    var r = dd.NextDouble();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>校务在线 - 登录</title>
    <link href="~/Content/style.css?@r.ToString()" rel="stylesheet" media="screen" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>

    <script type="text/javascript">

        $(function () {
            //窗体大小调整
            $(window).resize(function () {
                var awid = $(window).width();
                var ahei = $(window).height();

                $('#my_login_code').css({ 'left': awid / 2 - 180, 'top': ahei / 2 - 220 });
                $('#cloud1').css({ 'left': awid / 4 * Math.random(), 'top': ahei / 4 * Math.random() });
                $('#cloud2').css({ 'left': awid / 2 + awid / 4 * Math.random(), 'top': ahei / 4 * Math.random() });
            });
            $(window).resize();

            //扫码登录
            var obj = new WxLogin({
                id: "my_login_code",
                appid: "wxf550ae5cacd159df",
                scope: "snsapi_login",
                redirect_uri: "http://a.jysycz.cn/login/login",
                state: "web",
                style: "black",
                href: "https://www.x5on.cn/content/codesite.css"
            });
        })

    </script>

    <style type="text/css">
        .my-login-code { position: absolute; width: 360px; height: 440px; background-color: white; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 1px 1px 5px #333333, -1px -1px 5px #333333; -webkit-box-shadow: 1px 1px 5px #333333, -1px -1px 5px #333333; box-shadow: 1px 1px 5px #333333, -1px -1px 5px #333333; }
    </style>
</head>
<body id="body" style="background-color: #1c77ac; background-image: url(/Images/light.png); background-repeat: no-repeat; background-position: center top; overflow: hidden; ">
    <div id="cloudBody">
        <div id="cloud1" class="my-login-cloud"></div>
        <div id="cloud2" class="my-login-cloud"></div>
    </div>
    <div class="my-login-body">
        <div class="my-login-code" id="my_login_code">
        </div>
    </div>
</body>
</html>
