@{
    Layout = null;
    //UserOut/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生去向</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            outs = {
                add: function () {
                    DataGridNone('/UserOut/Add');
                },
                edit: function () {
                    DataGridRowID('#outs-grid', '/UserOut/Edit');
                },
                del: function () {
                    DataGridRowID('#outs-grid', '/UserOut/Del');
                },
            }

            //数据表格
            $('#outs-grid').datagrid({
                fit: true,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: true,
                checkOnSelect: true,
                url: '/UserOut/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { title: '去向名称', field: 'Name', align: 'center', width: 100 },
                    { title: '去向代码', field: 'Value', align: 'center', width: 100 },
                    {
                        title: '能否回校', field: 'CanReturn', halign: 'center', width: 100,
                        formatter: function (value, row, index) {
                            //不输出任何东西
                            //return value.ok ? null : value.message;
                        },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                            } else {
                                return "background:url('/Content/themes/icons/ico_del.png') no-repeat center center;";
                            }
                        }
                    }
                ]],

                toolbar: '#outs-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });
        })
    </script>
</head>
<body>
    <table id="outs-grid"></table>
    <div id="outs-grid-tool">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="outs.add();">添加</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="outs.edit();">修改</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="outs.del();">删除</a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
