@{
    Layout = null;
    //UserGo/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生去向</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            gos = {
                add: function () {
                    DataGridNone('/UserGo/Add');
                },
                del: function () {
                    DataGridRow('#gos-grid', '/UserGo/Del');
                }
            }

            //数据表格
            $('#gos-grid').datagrid({
                fit: true,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: true,
                checkOnSelect: true,
                url: '/UserGo/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { title: '去向名称', field: 'Name', align: 'center', width: 100 },
                    { title: '去向代码', field: 'Value', align: 'center', width: 100 },
                ]],

                toolbar: '#gos-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });
        })
    </script>
</head>
<body>
    <table id="gos-grid"></table>
    <div id="gos-grid-tool">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="gos.add();">添加</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="gos.del();">删除</a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
