@{
    Layout = null;
    //KaoType/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>考试类型</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            kaotypes = {
                add: function () {
                    DataGridNone('/KaoType/Add');
                },
                adds: function () {
                    DataGridNone('/KaoType/Adds');
                },
                edit: function () {
                    DataGridRowID('#kaotypes-grid', '/KaoType/Edit');
                },
                del: function () {
                    DataGridRowID('#kaotypes-grid', '/KaoType/Del');
                }
            }

            //数据表格
            $('#kaotypes-grid').datagrid({
                fit: true,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: true,
                checkOnSelect: true,
                url: '/KaoType/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { title: '类型名称', field: 'Name', align: 'center', width: 100 },
                    { title: '类型编号', field: 'Value', align: 'center', width: 100 },
                    {
                        title: '是否禁用', field: 'Fixed', halign: 'center', width: 100,
                        formatter: function (value, row, index) { },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_del.png') no-repeat center center;";
                            }
                        }
                    }
                ]],

                toolbar: '#kaotypes-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });
        })
    </script>
</head>
<body>
    <table id="kaotypes-grid"></table>
    <div id="kaotypes-grid-tool">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="kaotypes.add();">添加</a>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="kaotypes.edit();">修改</a>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="kaotypes.del();">删除</a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
