@{
    Layout = null;
}


<table id="acc_exam-grid"></table>
<div id="acc_exam-grid-tool">
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="acc_exam.edit();">修改</a>
                </td>
                <td style="width:5px;"></td>
                <td>
                    <span class="textbox">
                        <input class="textbox-text" id="acc_exam-grid-text" />
                    </span>
                </td>
                <td style="padding-left:5px;">
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="acc_exam.search();">查询</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="acc_exam.refresh();">刷新</a>
                </td>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    //点击动作
    acc_exam = {
        add: function () {
            DataGridNone('/Account/Add');
        },
        edit: function () {
            DataGridRowID('#acc_exam-grid', '/Account/Edit');
        },
        del: function () {
            DataGridRowID('#acc_exam-grid', '/Account/Del');
        },
        search: function () {
            DataGridSearch('#acc_exam-grid-text', '#acc_exam-grid', '/Account/Search');
        },
        refresh: function () {
            DataGridRefresh('#acc_exam-grid', '/Account/DataGrid')
        }
    }
    //用户查询
    DataGridSearchPress('#acc_exam-grid-text', '#acc_exam-grid', '/Account/Search')
    //数据表格
    $('#acc_exam-grid').datagrid({
        fit: true,
        striped: true,
        rownumbers: true,
        fitColumns: false,
        remoteSort: false,
        singleSelect: true,
        checkOnSelect: true,
        url: '/Account/DataGrid',
        loadFilter: function (d) {
            if (d.error) {
                $.messager.alert('错误提示', d.message, 'error');
                return { total: 0, rows: [] };
            } else {
                return d;
            }
        },

        columns: [[
            { title: '帐号', field: 'IDS', align: 'center', sortable: true, width: 250 },
            { title: '名称', field: 'Name', align: 'center', sortable: true, width: 150 },
            {
                title: '通过审核', field: 'Passed', halign: 'center', sortable: true, width: 100,
                formatter: function (value, row, index) {
                    //不输出任何东西
                    //return value.ok ? null : value.message;
                },
                styler: function (value, row, index) {
                    if (value) {
                        return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                    } else {
                        return "background:url('/Content/themes/icons/ico_del.png') no-repeat center center;";
                    }
                }
            }
        ]],

        toolbar: '#acc_exam-grid-tool',
        pagination: true,
        pageSize: 100,
        pageList: [100, 200, 500],
        pageNumber: 1,
    });
</script>