@{
    Layout = null;
}


<table id="acc_exam-grid"></table>
<div id="acc_exam-grid-tool">
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="acc_exam.exam();">通过审核</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="acc_exam.unexam();">退回</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="acc_exam.fixed();">冻结</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="acc_exam.unfixed();">解冻</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="acc_exam.refresh();">刷新</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="acc_exam.role();">权限修改</a>
                </td>
                <td>
                    <div class="datagrid-btn-separator"></div>
                </td>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="acc_exam.del();">帐号删除</a>
                </td>
                <td style="width:5px;"></td>
                <td>
                    <span class="textbox">
                        <input class="textbox-text" id="acc_exam-text" style="width:165px;" />
                    </span>
                </td>
                <td style="width:8px;"></td>
                <td>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="acc_exam.search();">查询</a>
                </td>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    //点击动作
    acc_exam = {
        exam: function () {
            DataGridRowNoForm('#acc_exam-grid', '/Account/PassExam', function (res) {
                var row = $('#acc_exam-grid').datagrid('getSelected');
                var index = $('#acc_exam-grid').datagrid('getRowIndex', row);
                $('#acc_exam-grid').datagrid('updateRow', { index: index, row: res });
            });
        },
        unexam: function () {
            DataGridRowNoForm('#acc_exam-grid', '/Account/UnExam', function (res) {
                var row = $('#acc_exam-grid').datagrid('getSelected');
                var index = $('#acc_exam-grid').datagrid('getRowIndex', row);
                $('#acc_exam-grid').datagrid('updateRow', { index: index, row: res });
            });
        },
        fixed: function () {
            DataGridRowNoForm('#acc_exam-grid', '/Account/Fixed', function (res) {
                var row = $('#acc_exam-grid').datagrid('getSelected');
                var index = $('#acc_exam-grid').datagrid('getRowIndex', row);
                $('#acc_exam-grid').datagrid('updateRow', { index: index, row: res });
            });
        },
        unfixed: function () {
            DataGridRowNoForm('#acc_exam-grid', '/Account/UnFixed', function (res) {
                var row = $('#acc_exam-grid').datagrid('getSelected');
                var index = $('#acc_exam-grid').datagrid('getRowIndex', row);
                $('#acc_exam-grid').datagrid('updateRow', { index: index, row: res });
            });
        },
        refresh: function () {
            DataGridParams('#acc_exam-grid', '/Account/DataGrid', {})
        },
        role: function () {
            DataGridRow('#acc_exam-grid', '/Account/RoleGroup')
        },
        del: function () {
            DataGridRow('#acc_exam-grid', '/Account/Del')
        },
        search: function () {
            var text = $('#acc_exam-text').val();
            var param = {
                text: text,
            }
            DataGridSearchParam('#acc_exam-text', '#acc_exam-grid', '/Account/DataGrid', param);
        },
    }
    //数据表格
    $('#acc_exam-grid').datagrid({
        fit: true,
        striped: true,
        rownumbers: true,
        fitColumns: false,
        remoteSort: false,
        singleSelect: true,
        checkOnSelect: true,
        url: '/Account/DataGrid',
        loadFilter: function (d) {
            console.log(d);
            if (d.error) {
                $.messager.alert('错误提示', d.message, 'error');
                return { total: 0, rows: [] };
            } else {
                return d;
            }
        },

        columns: [[
            { title: '帐号名称', field: 'Name', align: 'center', sortable: true, width: 150 },
            { title: '帐号身份', field: 'RoleGroupName', align: 'center', sortable: true, width: 150 },
            {
                title: '通过审核', field: 'Passed', halign: 'center', sortable: true, width: 100,
                formatter: function (value, row, index) {
                    //不输出任何东西
                    //return value.ok ? null : value.message;
                },
                styler: function (value, row, index) {
                    if (value) {
                        return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                    } else {
                        return "background:url('/Content/themes/icons/ico_del.png') no-repeat center center;";
                    }
                }
            },
            {
                title: '是否可用', field: 'Fixed', halign: 'center', sortable: true, width: 100,
                formatter: function (value, row, index) {
                    //不输出任何东西
                    //return value.ok ? null : value.message;
                },
                styler: function (value, row, index) {
                    if (!value) {
                        return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                    } else {
                        return "background:url('/Content/themes/icons/ico_del.png') no-repeat center center;";
                    }
                }
            },
        ]],

        toolbar: '#acc_exam-grid-tool',
        pagination: true,
        pageSize: 100,
        pageList: [100, 200, 500],
        pageNumber: 1,
    });
</script>