@{
    Layout = null;

    var dd = new Random();
    var r = dd.NextDouble();
}

<!DOCTYPE html>

<html>
<head>
    <title>校务在线</title>
    <link href="~/Content/style.css?@r.ToString()" rel="stylesheet" media="screen" />
    <link href="~/Content/print.css" rel="stylesheet" media="print" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css?@r.ToString()" rel="stylesheet" />
    <link href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/my.valid.js"></script>

    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/my.easyui.js?@r.ToString()"></script>

    <script src="~/Scripts/my.md5.js"></script>
</head>
<body id="body">
    <div id="my-user-lay" class="my-bodyer">
        <div data-options="region:'north',border:false" style="height:88px; font-size: 14px;">
            <div class="my-header noprint">
                <div class="my-topleft">
                    <a href="javasript:void()"><img src="/Images/logo.png" title="用户首页" id="my_user_logo" /></a>
                </div>

                <div class="my-topright">
                    <ul>
                        <li><span style="color:#ed9c30;">@ViewBag.NickName</span></li>
                        <li><a href="javascript:void(0);" id="logoff">退出</a></li>
                    </ul>

                    <div class="my-user">
                        <span id="my_user_name" >@ViewBag.UserName</span>
                        <b>0</b>
                    </div>

                </div>

            </div>
        </div>

        <div data-options="region:'west',border:false" style="width:187px;">
            <div class="left noprint">
                <div class="my-lefttop"><img src="/Images/m04s.png" />导航菜单</div>
                <dl class="my-leftmenu" id="my-leftmenu"></dl>
            </div>
        </div>

        <div data-options="region:'center',border:false">
            <div id="my-user-tab">
                <div title="用户首页" data-options="iconCls:'icon-tip'" style="padding:8px;">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {

            //退出登录
            $('#logoff').click(function () {
                $.post('/Account/Logoff', function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                    } else {
                        location.reload();
                    }
                })
            });

            //菜单点击
            $('.my-leftmenu').on('click', '.title', function () {
                $(this).parent().siblings().find('ul').slideUp();
                var $ul = $(this).next('ul');
                if ($ul.is(':visible')) {
                    //$ul.slideUp();
                } else {
                    $ul.slideDown();
                }
            });
            //菜单执行
            $(".my-leftmenu").on('click', 'li', function () {
                //菜单动作
                var url = $(this).attr('dest');
                var name = $(this).find('a').text();
                var icon = $(this).attr('icon');

                //设置样式
                $(".my-menuson li.active").removeClass("active")
                $(this).addClass("active");

                //检查菜单状态
                var clicked = $(this).attr('clicked');
                if (clicked == 'true') {
                    $('#my-user-tab').tabs('select', name);
                    //阻止
                    return;
                };
                //设置菜单单击状态
                $(this).attr('clicked', true);
                //添加页面
                easyobj.addTab('#my-user-tab', name, url, icon)
            });

            //tabs关闭动作
            $('#my-user-tab').tabs({
                onClose: function (title) {
                    //关闭菜单状态
                    $(".my-menuson li a").each(function () {
                        if ($(this).text() == title) {
                            $(this).parent().attr('clicked', false);
                        }
                    });
                    //管理员
                    if (title == '用户审核') $('#my_user_name').removeClass('clicked');
                    if (title == '新生打印') $('#my_user_logo').removeClass('clicked');
                }
            });

            //布局
            $('#my-user-lay').layout({
                border: false,
                fit: true
            });

            $('#my-user-lay').layout('collapse', 'west');

            //分页
            $('#my-user-tab').tabs({
                border: false,
                fit: true
            });

            ////////////////////////////////////////

            var tab = $('#my-user-tab').tabs('getTab', '用户首页');
            $('#my-user-tab').tabs('update', {
                tab: tab,
                options: {
                    href: '/account/check'
                },
            });
            tab.panel('refresh');

            ///////////////////////
            $('#my_user_name').click(function () {
                $this = $(this);
                if ($this.hasClass('clicked')) {
                    $('#my-user-tab').tabs('select', '用户审核');
                    return;
                }
                $this.addClass('clicked');

                //添加页面
                easyobj.addTab('#my-user-tab', '用户审核', '/Account/Exam', 'icon-tip')
            });

            ///////////////////////
            $('#my_user_logo').click(function () {
                $this = $(this);
                if ($this.hasClass('clicked')) {
                    $('#my-user-tab').tabs('select', '新生打印');
                    return;
                }
                $this.addClass('clicked');

                //添加页面
                easyobj.addTab('#my-user-tab', '新生打印', '/stnew/', 'icon-tip')
            });



        })
    </script>
</body>
</html>
