@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>用户操作首页</title>

    <script type="text/javascript">
        $(function () {
            //清除登录样式
            $('#body').removeAttr('style');

            //切换到系统后台
            $('#toAdmin').click(function () {
                $.post('/Admin/Index', function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                    } else {
                        $('#body').html(d);
                    }
                })
            })

            //tabs关闭动作
            $('#my-user-tab').tabs({
                onClose: function (title) {
                    //关闭菜单状态
                    $(".my-menuson li a").each(function () {
                        if ($(this).text() == title) {
                            $(this).parent().attr('clicked', false);
                        }
                    });
                }
            });

            //退出检测
            window.onbeforeunload = function () {
                $.post('/Account/Logoff', function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                    } else {
                        location.reload();
                    }
                })
            }

            //退出登录
            $('#logoff').click(function () {
                $.post('/Account/Logoff', function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                    } else {
                        location.reload();
                    }
                })
            });

            //顶部导航切换
            $(".my-nav li a").click(function () {
                $(".my-nav li a.selected").removeClass("selected")
                $(this).addClass("selected");

                //导航更新
                var num = $(this).attr('num');
                var s = $.validator.format('.title[num={0}]', num);
                var objs = $(s);
                objs.click();
                objs.next().children(':first-child').click();
            });
            //菜单点击
            $('.title').click(function () {
                $(this).parent().siblings().find('ul').slideUp();
                var $ul = $(this).next('ul');
                if ($ul.is(':visible')) {
                    //$ul.slideUp();
                } else {
                    $ul.slideDown();
                }
            });
            //菜单切换
            $(".my-menuson li").click(function () {
                //菜单动作
                var url = $(this).attr('dest');
                var name = $(this).find('a').text();
                var icon = $(this).attr('icon');

                //设置样式
                $(".my-menuson li.active").removeClass("active")
                $(this).addClass("active");

                //顶部更新
                var num = $(this).parent().prev().attr('num');
                $(".my-nav li a.selected").removeClass("selected")
                var s = $.validator.format('.my-nav li a[num={0}]', num);
                $(s).addClass("selected");

                //检查菜单状态
                var clicked = $(this).attr('clicked');
                if (clicked === 'true') {
                    $('#my-user-tab').tabs('select', name);
                    //阻止
                    return;
                };

                //设置菜单单击状态
                $(this).attr('clicked', true);

                //添加页面
                easyobj.addTab('#my-user-tab', name, url, icon)
            });

            //布局
            $('#my-user-lay').layout({
                border: false,
                fit: true
            });

            //分页
            $('#my-user-tab').tabs({
                border: false,
                fit: true
            });

        })
    </script>

</head>
<body>
    <div id="my-user-lay" class="my-bodyer">
        <div data-options="region:'north',border:false" style="height:88px;">
            <div class="my-header noprint">
                <div class="my-topleft">
                    <a href="javasript:void()"><img src="/Images/logo.png" title="用户首页" /></a>
                </div>

                <ul class="my-nav">
                    <li><a num="0" href="javascript:void(0);"><img src="/Images/pp08.png" /><h2>学生中心</h2></a></li>
                    <li><a num="1" href="javascript:void(0);"><img src="/Images/pp10.png" /><h2>教师中心</h2></a></li>
                </ul>

                <div class="my-topright">
                    <ul>
                        <li><span><img src="/Images/help.png" title="帮助" class="helpimg" /></span></li>
                        <li><a href="javascript:void(0);" id="logoff">退出</a></li>
                    </ul>

                    <div class="my-user">
                        <span id="toAdmin">@ViewBag.UserName</span>
                        <b>0</b>
                    </div>

                </div>

            </div>
        </div>

        <div data-options="region:'west',border:false" style="width:187px;">
            <div class="left noprint">
                <div class="my-lefttop"><img src="/Images/m04s.png" />导航菜单</div>

                <dl class="my-leftmenu">
                    <dd>
                        <div class="title" num="0">
                            <img src="/Images/leftico04.png" />学生中心
                        </div>
                        <ul class="my-menuson">
                            <li dest="/StudEdit/" icon="icon-system" clicked="false"><cite></cite><a href="javascript:void(0);">学生信息</a><i></i></li>
                        </ul>
                    </dd>
                    <dd>
                        <div class="title" num="1">
                            <img src="/Images/leftico04.png" />教师中心
                        </div>
                        <ul class="my-menuson">
                            <li dest="/StudReg/" icon="icon-user" clicked="false"><cite></cite><a href="javascript:void(0);">我的信息</a><i></i></li>
                            <li dest="/StudReg/" icon="icon-system" clicked="false"><cite></cite><a href="javascript:void(0);">我的学生</a><i></i></li>
                            <li dest="/StudReg/" icon="icon-system" clicked="false"><cite></cite><a href="javascript:void(0);">我的班级</a><i></i></li>
                            <li dest="/StudReg/" icon="icon-system" clicked="false"><cite></cite><a href="javascript:void(0);">我的年级</a><i></i></li>
                        </ul>
                    </dd>
                </dl>

            </div>
        </div>

        <div data-options="region:'center',border:false">
            <div id="my-user-tab">
                <div title="用户首页" data-options="iconCls:'icon-tip'" style="padding:8px;">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
