
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>校务在线</title>
</head>
<body>
    <div style="background:url(/image?name=wx_yes)"> 
        网页测试的东西，不知道有没有用：<input name="dddsssd" value="akllklk" />
    </div>
</body>
</html>
