@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>请关注公众号</title>
</head>
<body>
    <div style="height:400px; background:url(/mycode) center center no-repeat; text-align:center;">
        扫码关注：“校务在线”公众号
    </div>
</body>
</html>
