@model  IEnumerable<MySch.Models.Student>

@{
    Layout = null;

    var nox = ViewBag.StudNo.X;
    var noy = ViewBag.StudNo.Y;
    var namex = ViewBag.StudName.X;
    var namey = ViewBag.StudName.Y;
    var schoolx = ViewBag.School.X;
    var schooly = ViewBag.School.Y;
}

<script type="text/javascript">


    $(function () {

        //窗口
        $('#dialog-form').dialog({
            title: '录取通知',
            width: 1100,
            height: 518,
            closable: false,
            closed: false,
            cache: false,
            modal: true,
            buttons: [{
                text: '修正位置',
                iconCls: 'icon-edit',
                handler: function () {
                    var data = [{
                        Name: 'No',
                        X: $('.studno').css('left'),
                        Y: $('.studno').css('top')
                    }, {
                        Name: 'Name',
                        X: $('.studname').css('left'),
                        Y: $('.studname').css('top')
                    }];
                    //提交
                    $.post('/stnew/PrintPos', { pos: data }, function (d) {
                        if (d.error) {
                            $.messager.alert('错误提示', d.message, 'error');
                        } else {
                            //关窗口
                            $('#dialog-form').dialogClose();
                        }
                    });
                }
            }, {
                text: '打印',
                iconCls: 'icon-ok',
                handler: function () {
                    $('#con').printDom();
                }
            }, {
                text: '关闭',
                iconCls: 'icon-no',
                handler: function () {
                    $('#dialog-form').dialogClose();
                }
            }],
            onClose: function () {
                //启用按钮
                $('.easyui-linkbutton').linkbutton('enable');
            },
        });

        if ($('.dragcon').length > 1) {
            //清除按钮
            $('.dialog-button a:first').remove();
        }
        else {
            //启用可拖动
            $('.candrag').draggable({
                scroll: true,
                onDrag: function (e) {
                    var d = e.data;
                    if (e.ctrlKey) {
                        //按下ctrl键，整体移动
                        var dragname = Number($(this).attr('name'));
                        var dragxy = $(this).position();
                        //计算偏移
                        var offsetxy = { left: dragxy.left - initpos[dragname].left, top: dragxy.top - initpos[dragname].top };
                        //同步
                        $('.candrag').each(function () {
                            var eachname = Number($(this).attr('name'));
                            if (eachname != dragname) {
                                var eachxy = { left: initpos[eachname].left + offsetxy.left, top: initpos[eachname].top + offsetxy.top };
                                $(this).css('top', eachxy.top);
                                $(this).css('left', eachxy.left);
                            }
                        });
                    }
                }
            });

            //记录初始偏移量
            initpos = [];
            initpos.push($('.studno').position());
            initpos.push($('.studname').position());
        }
    })

</script>
<div id="con" style=" padding:0px;">

    <style type="text/css">
        .studno { position: absolute; font-family:'黑体'; font-size: 22pt; left: @nox; top: @noy; }
        .studname { position: absolute; font-family:'宋体'; font-size: 16pt; left: @namex; top:@namey; }
        .studsch { position: absolute; font-family:'宋体'; font-size: 14pt; left: @schoolx; top: @schooly; }
    </style>

    @{
        int num = 0;
        foreach (var stud in Model)
        {
            num++;
            <div class="dragcon" style="height:440px;background: url(/Images/canvas.jpg) no-repeat left top; position: relative;">
                <div name="0" class="candrag studno">@stud.RegNo</div>
                <div name="1" class="candrag studname">@stud.Name</div>
            </div>
            if (num != Model.Count())
            {
                <div style="page-break-after:always;"></div>
            }
        }
    }

</div>