@model  IEnumerable<MySch.Models.TStudReg>

@{
    Layout = null;
}

<script type="text/javascript">
    $(function () {
        $('#dialog-form').dialog({
            title: '录取通知',
            width: 1280,
            height: 518,
            closable: false,
            closed: false,
            cache: false,
            modal: false,
            buttons: [{
                text: '修正位置',
                iconCls: 'icon-edit',
                handler: function () {
                }
            }, {
                text: '打印',
                iconCls: 'icon-ok',
                handler: function () {
                }
            }, {
                text: '关闭',
                iconCls: 'icon-no',
                handler: function () {
                    $('#dialog-form').dialogClose();
                }
            }],
            onOpen: function () {
            },
            onClose: function () {
                //启用按钮
                $('.easyui-linkbutton').linkbutton('enable');
            },
        });
    })

</script>
<style type="text/css">
    .studno { position: absolute; font-size: 36px; left: 1090px; top: 90px; }
    .studname { position: absolute; font-size: 28px; left: 750px; top: 200px; }
    .studsch { position: absolute; font-size: 28px; left: 840px; top: 265px; }
</style>
<div style=" padding:20px 20px 0px 20px;">

    @{
        foreach (var stud in Model)
        {
            <div style="height:400px;background: url(/Images/canvas.jpg) no-repeat center top; position: relative;">
                <div class="studno">@stud.studNo.Substring(stud.studNo.Length - 4, 4)</div>
                <div class="studname">@stud.Name</div>
                <div class="studsch">@stud.fromSch</div>
            </div>
            <div style="page-break-after:always;"></div>
        }
    }

</div>