@model  IEnumerable<MySch.Models.TStudReg>

@{
    Layout = null;

    var nox = ViewBag.StudNo.X;
    var noy = ViewBag.StudNo.Y;
    var namex = ViewBag.StudName.X;
    var namey = ViewBag.StudName.Y;
    var schoolx = ViewBag.School.X;
    var schooly = ViewBag.School.Y;
}

<script type="text/javascript">


    $(function () {

        //启用可拖动
        $('.studno, .studname, .studsch').draggable({
            scroll: true,
            onDrag: function (e) {
                var d = e.data;
                $(this).css('left', d.left);
                $(this).css('top', d.top);
            }
        });

        //窗口
        $('#dialog-form').dialog({
            title: '录取通知',
            width: 1100,
            height: 518,
            closable: false,
            closed: false,
            cache: false,
            modal: true,
            buttons: [{
                text: '修正位置',
                iconCls: 'icon-edit',
                handler: function () {
                    var data = [{
                        Name: 'No',
                        X: $('.studno').css('left'),
                        Y: $('.studno').css('top')
                    }, {
                        Name: 'Name',
                        X: $('.studname').css('left'),
                        Y: $('.studname').css('top')
                    }, {
                        Name: 'School',
                        X: $('.studsch').css('left'),
                        Y: $('.studsch').css('top')
                    }];
                    //提交
                    $.post('/StudReg/PrintPos', { pos: data }, function (d) {
                        if (d.error) {
                            $.messager.alert('错误提示', d.message, 'error');
                        } else {
                            //关窗口
                            $('#dialog-form').dialogClose();
                        }
                    });
                }
            }, {
                text: '打印',
                iconCls: 'icon-ok',
                handler: function () {
                    $('#con').printDom();
                }
            }, {
                text: '关闭',
                iconCls: 'icon-no',
                handler: function () {
                    $('#dialog-form').dialogClose();
                }
            }],
            onClose: function () {
                //启用按钮
                $('.easyui-linkbutton').linkbutton('enable');
            },
        });
    })

</script>
<div id="con" style=" padding:0px;">

    <style type="text/css">
        .studno { position: absolute; font-family:'黑体'; font-size: 22pt; left: @nox; top: @noy; }
        .studname { position: absolute; font-family:'宋体'; font-size: 16pt; left: @namex; top:@namey; }
        .studsch { position: absolute; font-family:'宋体'; font-size: 14pt; left: @schoolx; top: @schooly; }
    </style>

    @{
        int num = 0;
        foreach (var stud in Model)
        {
            num++;
            <div style="height:440px;background: url(/Images/canvas.jpg) no-repeat left top; position: relative;">
                <div class="studno">@stud.studNo.Substring(stud.studNo.Length - 4, 4)</div>
                <div class="studname">@stud.Name</div>
                <div class="studsch">@stud.fromSch.Replace("泰州市", "")</div>
            </div>
            if (num != Model.Count())
            {
                <div style="page-break-after:always;"></div>
            }
        }
    }

</div>