@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>班级学生</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            studbanst = {
                change: function () {
                    DataGridRow('#studbanst-grid', '/UserBanst/Change');
                },
                search: function () {
                    var node = $('#studbanst-tree').tree('getSelected');
                    if (!node) {
                        $.messager.alert('错误提示', '前端：没有选择校区！', 'error');
                        return false;
                    }
                    var text = $('#studbanst-text').val();
                    var param = {
                        id: node.id,
                        memo: node.memo,
                        text: text,
                    }
                    DataGridSearchParam('#studbanst-text', '#studbanst-grid', '/UserBanst/DataGrid', param);
                },
                sameban: function () {
                    DataGridRowsNoForm('#studbanst-grid', '/UserBanst/SameBan', function (d) {
                        $('#studbanst-grid').datagrid('reload');
                        $.messager.alert('提示', d.message, 'error');
                    })
                },
                notsame: function () {
                    DataGridRowsNoForm('#studbanst-grid', '/UserBanst/NotSame', function (d) {
                        $('#studbanst-grid').datagrid('reload');
                        $.messager.alert('提示', d.message, 'error');
                    })
                },
                fixstud: function () {
                    DataGridRowsNoForm('#studbanst-grid', '/UserBanst/FixStud', function (d) {
                        $('#studbanst-grid').datagrid('reload');
                        $.messager.alert('提示', d.message, 'error');
                    })
                },
                notfix: function () {
                    DataGridRowsNoForm('#studbanst-grid', '/UserBanst/NotFix', function (d) {
                        $('#studbanst-grid').datagrid('reload');
                        $.messager.alert('提示', d.message, 'error');
                    })
                },
                oldclass: function () {
                    DataGridRows('#studbanst-grid', '/UserBanst/OldClass');
                },
                nowclass: function () {
                    DataGridRows('#studbanst-grid', '/UserBanst/NowClass');
                },
                masterclass: function () {
                    DataGridRows('#studbanst-grid', '/UserBanst/MasterClass');
                },
                studclass: function () {
                    DataGridRows('#studbanst-grid', '/UserBanst/StudClass');
                },
                fengban: function () {
                    var node = $('#studbanst-tree').tree('getSelected');
                    console.log(node);
                    if (!node) {
                        $.messager.alert('错误提示', '没有选择相应的年级！', 'error');
                        return false;
                    }
                    if (node.memo != 'Grade') {
                        $.messager.alert('错误提示', '分班必须以年级为单位！', 'error');
                        return false;
                    }
                    $.post('/UserBanst/FengBan', { id: node.id }, function (res) {
                        $.messager.alert('错误提示', res.message, 'error');
                    });
                },
            }

            //数据表格
            $('#studbanst-grid').datagrid({
                fit: true,
                border: false,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: false,
                checkOnSelect: true,
                url: '/UserBanst/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { field: 'ck', checkbox: true },
                    { title: '班级', field: 'BanName', align: 'center', width: 110 },
                    { title: '身份证号', field: 'IDC', align: 'center', width: 150 },
                    { title: '姓名', field: 'StudName', align: 'center', width: 70 },
                    { title: '性别', field: 'StudSex', align: 'center', width: 70 },
                    { title: '学生来源', field: 'ComeName', align: 'center', width: 90 },
                    { title: '分班成绩', field: 'Score', align: 'center', width: 90 },
                    { title: '原始班级', field: 'OldBan', align: 'center', width: 90 },
                    {
                        title: '是否同班', field: 'GroupID', halign: 'center', width: 90, sortable: true,
                        formatter: function (value, row, index) { },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                            }
                        }
                    },
                    {
                        title: '是否固定', field: 'Fixed', halign: 'center', width: 90, sortable: true,
                        formatter: function (value, row, index) { },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                            }
                        }
                    },
                    {
                        title: '是否择校', field: 'Choose', halign: 'center', width: 90, sortable: true,
                        formatter: function (value, row, index) { },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                            }
                        }
                    },
                ]],

                toolbar: '#studbanst-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500, 1000, 2000],
                pageNumber: 1,
            });

            $('#studbanst-lay').layout({
                fit: true,
                border: true,
            });

            $('#studbanst-tree').tree({
                fit: true,
                url: '/UserBanst/GradeTree',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },
                onBeforeLoad: function (node, param) {
                    if (node) {
                        param.memo = node.memo;
                    }
                },
                onClick: function (node) {
                    if (node) {
                        $('#studbanst-grid').datagrid({
                            queryParams: {
                                id: node.id,
                                memo: node.memo,
                                text: null,
                            }
                        });
                    }
                },
            });

        })

    </script>
</head>
<body>
    <div id="studbanst-lay">
        <div data-options="region:'west',border:true" style="width:180px;">
            <ul id="studbanst-tree"></ul>
        </div>
        <div data-options="region:'center',border:true">
            <table id="studbanst-grid"></table>

            <div id="studbanst-grid-tool">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td>
                                <a href="javascript:void(0);" class="easyui-splitbutton" menu="#studbanst-mm-edit" iconcls="icon-edit">变更</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="easyui-splitbutton" menu="#studbanst-mm-print" iconcls="icon-remove">打印</a>
                            </td>
                            <td style="width:8px;"></td>
                            <td>
                                <span class="textbox">
                                    <input class="textbox-text" id="studbanst-text" style="width:165px;" />
                                </span>
                            </td>
                            <td style="width:8px;"></td>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="studbanst.search();">查询</a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div id="studbanst-mm-edit" style="width:150px;">
        <div iconcls="icon-man" onclick="studbanst.fengban();">分班...</div>
        <div class="menu-sep"></div>
        <div onclick="studbanst.sameban();">同班设置</div>
        <div class="menu-sep"></div>
        <div onclick="studbanst.notsame();">取消同班</div>
        <div class="menu-sep"></div>
        <div onclick="studbanst.fixstud();">班级固定</div>
        <div class="menu-sep"></div>
        <div onclick="studbanst.notfix();">取消固定</div>
        <div class="menu-sep"></div>
        <div iconcls="icon-reload" onclick="studbanst.change();">班级调动...</div>
    </div>
    <div id="studbanst-mm-print" style="width:150px;">
        <div onclick="studbanst.oldclass();">原班信息...</div>
        <div class="menu-sep"></div>
        <div onclick="studbanst.nowclass();">现班名册...</div>
        <div class="menu-sep"></div>
        <div iconcls="icon-clear" onclick="studbanst.masterclass();">班主任留存...</div>
        <div class="menu-sep"></div>
        <div onclick="studbanst.studclass();">班级名条...</div>
    </div>

</body>
</html>
