@model IEnumerable<MySch.Bll.View.VGradeStud>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>班主任</title>
</head>
<body>
    <div id="print-nowclass">
        <style type="text/css">
            .nowclass-table { border-left: 1px solid #0094ff; border-top: 1px solid #0094ff; font-size: 14px; }
                .nowclass-table th { border-bottom: 1px solid #0094ff; border-right: 1px solid #0094ff; text-align: center; }
                .nowclass-table td { border-bottom: 1px solid #0094ff; border-right: 1px solid #0094ff; text-align: center; }
        </style>
        <div style="height:100%; width:100%; text-align: center;">
            <table border="0" align="center" cellpadding="0" cellspacing="0" style="height:100%; font-size: 72px;">
                <tr><td>班<br />主<br />任</td></tr>
            </table>
        </div>
        <div style="page-break-after:always; clear:both;"></div>
        @{
            var studstr = "<tr><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td></tr>\n";
            var studstrs = string.Empty;
            var studban = string.Empty;
            var num = 0;
            var count = Model.Count();
            var list = new List<string>();
            foreach (var stud in Model)
            {
                num++;
                if (stud.BanNum != studban)
                {
                    studban = stud.BanNum;
                    if (list.Count() > 0)
                    {
                        //分栏
                        var sblen = list.Count() / 2 + list.Count() % 2;
                        var lefts = string.Empty;
                        var rights = string.Empty;
                        for (var i = 0; i < sblen; i++)
                        {
                            lefts += list[i];
                        }
                        for (var i = sblen; i < list.Count(); i++)
                        {
                            rights += list[i];
                        }
                        //打以前的
                        <div style="height:100%; width:100%;">
                            <table class="nowclass-table" border="0" align="center" cellpadding="0" cellspacing="0" style="height:100%; width:45%; float:left;">
                                <tbody>
                                    <tr style="height:50px;"><th>现班级</th><th>姓名</th><th>性别</th><th>分班成绩</th><th>录取编号<br />原班级号</th></tr>
                                    @Html.Raw(lefts)
                                </tbody>
                            </table>
                            <table class="nowclass-table" border="0" align="center" cellpadding="0" cellspacing="0" style="height:100%; width:45%; float:right;">
                                <tbody>
                                    <tr style="height:50px;"><th>现班级</th><th>姓名</th><th>性别</th><th>分班成绩</th><th>录取编号<br />原班级号</th></tr>
                                    @Html.Raw(rights)
                                </tbody>
                            </table>
                        </div>
                        //分页
                        if (num <= count)
                        {
                            <div style="page-break-after:always; clear:both;"></div>
                        }
                        //清除
                        studstrs = string.Empty;
                        list.Clear();
                    }
                }
                studstrs = string.Format(studstr, stud.BanNum, stud.StudName, stud.StudSex, stud.Score, stud.GradeIDS == "321284020120170107" ? stud.OldBan : stud.OldBanNum);
                list.Add(studstrs);
                //结束
                if (num == count)
                {
                    if (list.Count() > 0)
                    {
                        //分栏
                        var sblen = list.Count() / 2 + list.Count() % 2;
                        var lefts = string.Empty;
                        var rights = string.Empty;
                        for (var i = 0; i < sblen; i++)
                        {
                            lefts += list[i];
                        }
                        for (var i = sblen; i < list.Count(); i++)
                        {
                            rights += list[i];
                        }
                        //打以前的
                        <div style="height:100%; width:100%;">
                            <table class="nowclass-table" border="0" align="center" cellpadding="0" cellspacing="0" style="height:100%; width:45%; float:left;">
                                <tbody>
                                    <tr style="height:50px;"><th>现班级</th><th>姓名</th><th>性别</th><th>分班成绩</th><th>录取编号<br />原班级号</th></tr>
                                    @Html.Raw(lefts)
                                </tbody>
                            </table>
                            <table class="nowclass-table" border="0" align="center" cellpadding="0" cellspacing="0" style="height:100%; width:45%; float:right;">
                                <tbody>
                                    <tr style="height:50px;"><th>现班级</th><th>姓名</th><th>性别</th><th>分班成绩</th><th>录取编号<br />原班级号</th></tr>
                                    @Html.Raw(rights)
                                </tbody>
                            </table>
                        </div>
                    }
                }
            }
        }
    </div>
    <script type="text/javascript">
        $(function () {
            //添加对话框
            DialogShowEx('新班信息', 810, 570, function () {
                $('#print-nowclass').printDom();
            })
        })
    </script>
</body>
</html>
