@model IEnumerable<MySch.Bll.View.VGradeStud>

@{
    Layout = null;
    var bancount = 0;
    var bantotal = ViewBag.BanTotal;
    var bans = ViewBag.Bans;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生照片</title>
</head>
<body>
    <div id="stud_photo">
        <style type="text/css">
            .stud_photo-ban { font-size: 24px; font-family: '黑体'; text-align:center; margin-bottom: 20px; }
            .stud_photo-item { width: 210px; height: 120px; margin: 0px 5px 5px 0px; padding: 10px; float: left; background: #eee; border: 1px solid #808080; border-radius: 10px; }
            .stud_photo-item-img { width: 100px; height: 120px; border: none; border-radius: 5px; float: left; }
            .stud_photo-item-code {width: 100px; height: 100px; float: right; }
            .stud_photo-item-name {width: 100px; text-align: center; font-size: 16px; font-family: '黑体';float: right; }
        </style>
        @foreach (var ban in bans)
        {
            bancount++;

            <div class="stud_photo-ban">@ban.Name</div>

            var count = 0;
            var studs = Model.Where(a => a.BanIDS == ban.IDS);
            foreach (var stud in studs)
            {
                count++;

                <div class="stud_photo-item">
                    <img class="stud_photo-item-img" src="~/Images/wall/0.jpg" alt="" />
                    <img class="stud_photo-item-code" src="http://a.jysycz.cn/image/code1/@stud.ID" alt="" />
                    <div class="stud_photo-item-name">
                        <span>@count - @stud.StudName</span>
                    </div>
                </div>
            }

            if (bancount != bantotal)
            {
                <div style="clear:both; page-break-after:always;"></div>
            }
        }
    </div>
    <script type="text/javascript">
        $(function () {
            //添加对话框
            DialogShowEx('学生照片', 810, 570, function () {
                $('#stud_photo').printDom();
            })
        })
    </script>
</body>

</html>
