@{
    Layout = null;
    //UserTerm/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学期设置</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            terms = {
                add: function () {
                    DataGridNone('/UserTerm/Add');
                },
                edit: function () {
                    DataGridRow('#terms-grid', '/UserTerm/Edit');
                },
                del: function () {
                    DataGridRow('#terms-grid', '/UserTerm/Del');
                }
            }

            //数据表格
            $('#terms-grid').datagrid({
                fit: true,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: true,
                checkOnSelect: true,
                url: '/UserTerm/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { title: '年度名称', field: 'YearName', align: 'center',  width: 100 },
                    { title: '学期名称', field: 'TermName', align: 'center',  width: 100 },
                    {
                        title: '当前学期', field: 'IsCurrent', halign: 'center', width: 100,
                        formatter: function (value, row, index) {
                            //不输出任何东西
                            //return value.ok ? null : value.message;
                        },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                            }
                        }
                    }
                ]],

                toolbar: '#terms-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });
        })
    </script>
</head>
<body>
    <table id="terms-grid"></table>
    <div id="terms-grid-tool">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="terms.add();">添加</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="terms.edit();">修改</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="terms.del();">删除</a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
