@{
    Layout = null;
    //UserStep/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>分级设置</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            steps = {
                add: function () {
                    DataGridNone('/UserStep/Add');
                },
                edit: function () {
                    DataGridRowID('#steps-grid', '/UserStep/Edit');
                },
                del: function () {
                    DataGridRowID('#steps-grid', '/UserStep/Del');
                }
            }

            //数据表格
            $('#steps-grid').datagrid({
                fit: true,
                border: false,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: true,
                checkOnSelect: true,
                url: '/UserStep/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { title: '分级名称', field: 'Name', align: 'center', width: 100 },
                    {
                        title: '是否毕业', field: 'Graduated', halign: 'center', width: 100,
                        formatter: function (value, row, index) {
                            //不输出任何东西
                            //return value.ok ? null : value.message;
                        },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                            }
                        }
                    },
                    {
                        title: '是否招生', field: 'CanRecruit', halign: 'center', width: 100,
                        formatter: function (value, row, index) {
                            //不输出任何东西
                            //return value.ok ? null : value.message;
                        },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                            }
                        }
                    },
                ]],

                toolbar: '#steps-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });

            $('#steps-lay').layout({
                fit: true,
                border: true,
            });

            $('#steps-tree').tree({
                fit: true,
                url: '/AdminPage/MenuTree',
                loadFilter: function (d) {
                    console.log(d);
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },
                onClick: function (node) {
                    if (node) {
                        $('#adminpages-grid').datagrid({
                            queryParams: {
                                id: node.id,
                                memo: node.memo,
                            }
                        });
                    }
                },
            });

        })
    </script>
</head>
<body>
    <div id="steps-lay">
        <div data-options="region:'west',border:true, title:'校区分级'" style="width:200px;">
            <ul id="steps-tree"></ul>
        </div>
        <div data-options="region:'center',border:true">
            <table id="steps-grid"></table>
            <div id="steps-grid-tool">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="steps.add();">添加</a>
                            </td>
                            <td>
                                <div class="datagrid-btn-separator"></div>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="steps.edit();">修改</a>
                            </td>
                            <td>
                                <div class="datagrid-btn-separator"></div>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="steps.del();">删除</a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
