@{
    Layout = null;
    //UserBan/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>班级设置</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            bans = {
                add: function () {
                    DataGridNone('/UserBan/AddBan');
                },
                edit: function () {
                    DataGridRow('#bans-grid', '/UserBan/EditBan');
                },
                del: function () {
                    DataGridRow('#bans-grid', '/UserBan/DelBan');
                }
            }

            //数据表格
            $('#bans-grid').datagrid({
                fit: true,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: true,
                checkOnSelect: true,
                url: '/UserBan/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { title: '班级编号', field: 'IDS', align: 'center', sortable: true, width: 150 },
                    { title: '班级名称', field: 'BanName', align: 'center', sortable: true, width: 220 },
                    { title: '年级名称', field: 'GradeName', align: 'center', sortable: true, width: 180 },
                    { title: '班号', field: 'Name', align: 'center', sortable: true, width: 100 },
                    { title: '班主任', field: 'MasterName', align: 'center', sortable: true, width: 120 },
                    { title: '班级分组负责人', field: 'GroupName', align: 'center', sortable: true, width: 120 },
        ]],

                toolbar: '#bans-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });
        })
    </script>
</head>
<body>
    <table id="bans-grid"></table>
    <div id="bans-grid-tool">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="bans.add();">添加</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="bans.edit();">修改</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="bans.del();">删除</a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
