@{
    Layout = null;
    //AdminUser/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户列表</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            users = {
                add: function () {
                    DataGridNone('/AdminUser/Add');
                },
                edit: function () {
                    DataGridRowID('#users-grid', '/AdminUser/Edit');
                },
                del: function () {
                    DataGridRowID('#users-grid', '/AdminUser/Del');
                },
                search: function () {
                    DataGridSearch('#users-grid-text', '#users-grid', '/AdminUser/Search');
                },
                refresh: function () {
                    DataGridRefresh('#users-grid', '/AdminUser/DataGrid')
                }
            }
            //用户查询
            DataGridSearchPress('#users-grid-text', '#users-grid', '/AdminUser/Search')
            //数据表格
            $('#users-grid').datagrid({
                fit: true,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: true,
                checkOnSelect: true,
                url: '/AdminUser/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { title: '帐号', field: 'IDS', align: 'center', sortable: true, width: 150 },
                    { title: '名称', field: 'Name', align: 'center', sortable: true, width: 180 },
                    {
                        title: '注册时间', field: 'RegTime', align: 'center', sortable: true, width: 150,
                        formatter: function (value, row, index) {
                            //日期整形
                            return formatDate(value);
                        }
                    },
                    {
                        title: '是否可用', field: 'Fixed', halign: 'center', width: 80,
                        formatter: function (value, row, index) {
                            //不输出任何东西
                            //return value.ok ? null : value.message;
                        },
                        styler: function (value, row, index) {
                            if (!value) {
                                return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                            } else {
                                return "background:url('/Content/themes/icons/ico_del.png') no-repeat center center;";
                            }
                        }
                    }
                ]],

                toolbar: '#users-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });
        })
    </script>
</head>
<body>
    <table id="users-grid"></table>
    <div id="users-grid-tool">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="users.add();">添加</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="users.edit();">修改</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="users.del();">删除</a>
                    </td>
                    <td style="width:5px;"></td>
                    <td>
                        <span class="textbox">
                            <input class="textbox-text" id="users-grid-text" />
                        </span>
                    </td>
                    <td style="padding-left:5px;">
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="users.search();">查询</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="users.refresh();">刷新</a>
                    </td>
 </tr>
            </thead>
        </table>
    </div>
</body>
</html>
