@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>校务在线 - 报名审核</title>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $.post('/Regs/', function (res) {
                if (res.error) {
                    weui.alert(res.message);
                } else {
                    wx.config({
                        debug: false,
                        appId: res.appid,
                        timestamp: res.timestamp,
                        nonceStr: res.noncestr,
                        signature: res.signature,
                        jsApiList: [
                          'checkJsApi',
                          'hideMenuItems',
                          'hideAllNonBaseMenuItem',
                          'translateVoice',
                          'chooseImage',
                          'previewImage',
                          'uploadImage',
                          'hideOptionMenu',
                          'closeWindow',
                          'scanQRCode',
                          'chooseWXPay',
                          //'downloadImage',
                          //'onMenuShareTimeline',
                          //'onMenuShareAppMessage',
                          //'onMenuShareQQ',
                          //'onMenuShareWeibo',
                          //'onMenuShareQZone',
                          //'showMenuItems',
                          //'showAllNonBaseMenuItem',
                          //'startRecord',
                          //'stopRecord',
                          //'onVoiceRecordEnd',
                          //'playVoice',
                          //'onVoicePlayEnd',
                          //'pauseVoice',
                          //'stopVoice',
                          //'uploadVoice',
                          //'downloadVoice',
                          //'getNetworkType',
                          //'openLocation',
                          //'getLocation',
                          //'showOptionMenu',
                          //'openProductSpecificView',
                          //'addCard',
                          //'chooseCard',
                          //'openCard',
                        ]
                    });

                    //
                    wx.ready(function () {
                        //隐藏所有非基本菜单项
                        wx.hideAllNonBaseMenuItem({
                            success: function () {
                                //weui.alert('已隐藏所有非基本菜单项');
                            }
                        });

                        //识别学生
                        $('#regs_exam_scan').click(function () {
                            wx.scanQRCode({
                                needResult: 1,
                                desc: 'scanQRCode desc',
                                success: function (res) {
                                    var idc = res.resultStr;
                                    var loading = weui.loading('正在识别...');
                                    $.post('/Regs/GetImagesByType', { idc: idc }, function (resex) {
                                        if (resex.error) {
                                            weui.topTips(resex.message, 3000);
                                        } else {
                                            $('#regs_exam_id').val(resex.value);
                                            $('#regs_exam_choose').attr('disabled', false);
                                            $('#regs_exam_name').text(resex.key + '：' + idc);
                                            $('#regs_exam_namex').val(resex.key);
                                            //分类
                                            $('.regs_exam_image').empty();
                                            $.each(resex.lists, function () {
                                                var $id = $('#regs_exam_image_' + this.value)
                                                $('<img>').attr('src', '/Image/Uploaded?name=' + this.key).appendTo($id);
                                            })
                                            //可以使用
                                            $('#regs_exam_stud .weui-btn').removeClass('weui-btn_disabled');
                                        }
                                        //关闭
                                        loading.hide();
                                    });
                                }
                            });
                        });

                        var syncUpload = function (localIds, uploadtype) {
                            var localId = localIds.pop();
                            wx.uploadImage({
                                localId: localId,
                                isShowProgressTips: 1,
                                success: function (res) {
                                    //对serverId做处理的代码
                                    var studid = $('#regs_exam_id').val();
                                    $.post('/Regs/UploadImageOther', { mediaID: res.serverId, uploadType: uploadtype, studID: studid }, function (resex) {
                                        if (resex.error) {
                                            weui.topTips(resex.message, 3000);
                                        } else {
                                            //更新
                                            var $id = $('#regs_exam_image_' + uploadtype)
                                            $('<img>').attr('src', '/Image/Uploaded?name=' + resex.message).appendTo($id);
                                        }
                                    })
                                    if (localIds.length > 0) {
                                        syncUpload(localIds, uploadtype);
                                    }
                                }
                            });
                        }

                        //选择图片，上传
                        $('.regs_exam_upload .weui-btn').click(function () {
                            if (!$(this).hasClass('weui-btn_disabled')) {
                                //分类名称
                                var name = $(this).attr('uploadtype');
                                wx.chooseImage({
                                    success: function (res) {
                                        syncUpload(res.localIds, name);
                                    }
                                });
                            }
                        });

                        //审核通过
                        $('#regs_exam_success').click(function () {
                            if (!$(this).hasClass('weui-btn_disabled')) {
                                var name = $('#regs_exam_namex').val();
                                weui.confirm('　确认通过【' + name + '】的报名审核？', {
                                    title: '报名审核',
                                    buttons: [{
                                        label: '关闭',
                                        type: 'default',
                                        onClick: function () { }
                                    }, {
                                        label: '确认',
                                        type: 'primary',
                                        onClick: function () {
                                            //提交
                                            var idc = $('#regs_exam_idc').val();
                                            var choose = $('#regs_exam_choose').prop('checked');
                                            //反馈
                                            $('#regs_exam_stud .weui-btn').addClass('weui-btn_disabled');
                                            $('.regs_exam_image').empty();
                                            $('#regs_exam_name').text('学生姓名');
                                            $('#regs_exam_choose').prop('checked', false);
                                            $('#regs_exam_choose').attr('disabled', true);
                                        }
                                    }]
                                });
                            }
                        });
                    });

                    //错误检测
                    wx.error(function (res) {
                        weui.alert(JSON.stringify(res));
                    });
                }
            })
        })
    </script>
</head>
<body ontouchstart>
    <div class="weui-btn-area" style="margin-top:30px;">
        <a id="regs_exam_scan" href="javascript:" class="weui-btn weui-btn_primary">学生识别</a>
    </div>
    <form id="regs_exam_stud" style="display:block; margin-bottom:20px;">
        <div class="weui-article" style="padding-top:10px; padding-bottom: 0px;">
            <div class="regs_exam_upload">
                <h1 id="regs_exam_name">学生姓名</h1>
                <div id="regs_exam_image_grade" class="regs_exam_image">
                </div>
                <p>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="grade">毕业证</a>
                    </div>
                </p>
                <div id="regs_exam_image_house" class="regs_exam_image">
                </div>
                <p>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="house">产权证</a>
                    </div>
                </p>
                <div id="regs_exam_image_city" class="regs_exam_image">
                </div>
                <p>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="city">户口簿</a>
                    </div>
                </p>
                <div id="regs_exam_image_paper" class="regs_exam_image">
                </div>
                <p>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="paper">补充协议书</a>
                    </div>
                </p>
            </div>
        </div>
        <div class="weui-cells weui-cells_checkbox">
            <label class="weui-cell weui-check__label" for="regs_exam_choose">
                <div class="weui-cell__hd">
                    <input type="checkbox" class="weui-check" name="choose" id="regs_exam_choose" disabled="disabled">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>是否择校生</p>
                </div>
            </label>
        </div>
        <div class="weui-btn-area">
            <a id="regs_exam_success" href="javascript:" class="weui-btn weui-btn_warn weui-btn_disabled">通过审核</a>
        </div>
        <input type="hidden" name="id" id="regs_exam_id" />
        <input type="hidden" name="id" id="regs_exam_namex" />
    </form>
</body>
</html>
