@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>材料审核</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //提示
            var headloading = weui.loading('正在加载...');
            $.post('/Regs/Jssdk', function (jsres) {
                if (jsres.error) {
                    weui.topTips(jsres.message, 3000);
                } else {
                    wx.config({
                        debug: false,
                        appId: jsres.appid,
                        timestamp: jsres.timestamp,
                        nonceStr: jsres.noncestr,
                        signature: jsres.signature,
                        jsApiList: [
                          'hideAllNonBaseMenuItem',
                          'chooseImage',
                          'uploadImage',
                          'scanQRCode',
                        ]
                    });

                    //关闭
                    headloading.hide();
                    //
                    wx.ready(function () {
                        //隐藏所有非基本菜单项
                        wx.hideAllNonBaseMenuItem({
                            success: function () {
                                //weui.alert('已隐藏所有非基本菜单项');
                            }
                        });

                        var reg = {
                            IDNUM: /^\d{17}[\dxX]$/,
                        };
                        weui.form.checkIfBlur('#regs_exam_form', {
                            regexp: reg
                        });
                        var hideExam = function () {
                            $('#regs_exam_stud').hide();
                            $('#regs_exam_query').show();
                            //
                            $('#regs_exam_stud .weui-btn').addClass('weui-btn_disabled');
                            $('.regs_exam_image').empty();
                            $('#regs_exam_id').val('');
                            $('#regs_exam_name').text('学生姓名');
                            $('#regs_exam_namex').val('');
                            $('#regs_exam_choose').prop('checked', false);
                            $('#regs_exam_choose').attr('disabled', true);
                        }
                        var showExam = function (resex, idc) {
                            var items = resex.lists[0];
                            $('#regs_exam_id').val(resex.value);
                            $('#regs_exam_name').text(resex.key + '：' + idc);
                            $('#regs_exam_namex').val(resex.key);
                            $('#regs_exam_choose').attr('disabled', false);
                            $('#regs_exam_choose').prop('checked', items.value);
                            //分类
                            $('.regs_exam_image').empty();
                            $.each(items.lists, function () {
                                var $id = $('#regs_exam_image_' + this.value)
                                $('<img>').attr('src', '/Image/Uploaded?name=' + this.key).appendTo($id);
                            })
                            //可以使用
                            $('#regs_exam_stud .weui-btn').removeClass('weui-btn_disabled');
                            //
                            $('#regs_exam_stud').fadeIn();
                            $('#regs_exam_query').hide();
                        }
                        //查询学生
                        $('#regs_exam_scan').click(function () {
                            var idc = $('#regs_exam_idc input').val();
                            //手动输入
                            if (idc.length != 0) {
                                weui.form.validate('#regs_exam_form', function (error) {
                                    if (!error) {
                                        var loading = weui.loading('正在查询...');
                                        $.post('/Regs/GetImagesTypeByIdc', { idc: idc }, function (resex) {
                                            if (resex.error) {
                                                //反馈
                                                hideExam();
                                                //提示
                                                if (resex.message.key) {
                                                    weui.topTips(resex.message.value, 3000);
                                                    $('#' + resex.message.key).addClass('weui-cell_warn');
                                                } else {
                                                    weui.topTips(resex.message, 3000);
                                                }
                                            } else {
                                                showExam(resex.message, idc);
                                            }
                                            //关闭
                                            loading.hide();
                                        });
                                    } else {
                                        hideExam();
                                    }
                                }, {
                                    regexp: reg
                                });
                                return;
                            }
                            //识别
                            wx.scanQRCode({
                                needResult: 1,
                                desc: 'scanQRCode desc',
                                success: function (res) {
                                    var idc = res.resultStr;
                                    var loading = weui.loading('正在识别...');
                                    $.post('/Regs/GetImagesTypeByScan', { idc: idc }, function (resex) {
                                        if (resex.error) {
                                            //反馈
                                            hideExam();
                                            //提示
                                            if (resex.message.key) {
                                                weui.topTips(resex.message.value, 3000);
                                                $('#' + resex.message.key).addClass('weui-cell_warn');
                                            } else {
                                                weui.topTips(resex.message, 3000);
                                            }
                                        } else {
                                            showExam(resex.message, idc);
                                        }
                                        //关闭
                                        loading.hide();
                                    });
                                }
                            });
                        });

                        var syncUpload = function (localIds, uploadtype) {
                            var localId = localIds.pop();
                            wx.uploadImage({
                                localId: localId,
                                isShowProgressTips: 1,
                                success: function (res) {
                                    //对serverId做处理的代码
                                    var other = $('#regs_exam_id').val();
                                    $.post('/Regs/UploadImageOther', { mediaID: res.serverId, uploadType: uploadtype, Other: other }, function (imgres) {
                                        if (imgres.error) {
                                            weui.topTips(imgres.message, 3000);
                                        } else {
                                            //更新
                                            var $id = $('#regs_exam_image_' + uploadtype)
                                            $('<img>').attr('src', '/Image/Uploaded?name=' + imgres.message).prependTo($id);
                                        }
                                    })
                                    if (localIds.length > 0) {
                                        syncUpload(localIds, uploadtype);
                                    }
                                }
                            });
                        }

                        //选择图片，上传
                        $('.regs_exam_upload .weui-btn').click(function () {
                            if ($(this).hasClass('weui-btn_disabled')) return;
                            //分类名称
                            var name = $(this).attr('uploadtype');
                            wx.chooseImage({
                                success: function (res) {
                                    syncUpload(res.localIds, name);
                                }
                            });
                        });

                        //图片删除
                        $('.regs_exam_image').on('click', 'img', function () {
                            var $image = $(this);
                            var imageurl = $image.attr('src');
                            var gallery = weui.gallery(imageurl, {
                                onDelete: function () {
                                    weui.confirm('　确定删除该图片？', function () {
                                        gallery.hide();
                                        var loading = weui.loading('正在删除...');
                                        $.post('/Regs/DeleteImage', { url: imageurl }, function (res) {
                                            loading.hide();
                                            if (res.error) {
                                                weui.topTips(res.message, 3000);
                                            } else {
                                                //删除
                                                $($image).remove();
                                                weui.toast(res.message, 2000);
                                            }
                                        })
                                    }, function () {
                                        gallery.hide();
                                    }, { title: '图片删除' });
                                }
                            });
                        });

                        //审核通过
                        $('#regs_exam_success').click(function () {
                            if ($(this).hasClass('weui-btn_disabled')) return;
                            //提交
                            var id = $('#regs_exam_id').val();
                            var name = $('#regs_exam_namex').val();
                            var choose = $('#regs_exam_choose').prop('checked');
                            //普通
                            var normal = $('#regs_exam_normal .regs_exam_image').is(':empty');
                            if (normal) {
                                weui.topTips('资料未完整，无法审核', 3000);
                                return;
                            }
                            //择校
                            if (choose) {
                                if ($('#regs_exam_image_paper').is(':empty')) {
                                    weui.topTips('择校生，必须上传补充协议书', 3000);
                                    return;
                                }
                            }
                            weui.confirm('　确认通过【' + name + '】的报名审核？', function () {
                                $.post('/Regs/PassExamine', { ID: id, Choose: choose }, function (res) {
                                    if (res.error) {
                                        weui.topTips(res.message, 3000);
                                    } else {
                                        weui.toast(res.message, 2000);
                                        //反馈
                                        $('#regs_exam_idc input').val('');
                                        hideExam();
                                    }
                                })
                            }, function () { }, { title: '报名审核' });
                        });
                    });

                    //错误检测
                    wx.error(function (errores) {
                        weui.alert(JSON.stringify(errores));
                    });
                }
            })
        })
    </script>
    <style type="text/css">
        .regs_exam_image { margin-top: 10px; }
    </style>
</head>
<body ontouchstart>
    <div class="weui-article" id="regs_exam_query">
        <h1>学生查询</h1>
        <form id="regs_exam_form">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell" id="regs_exam_idc">
                    <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">身份证号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="tel" name="idc" required="required" pattern="REG_IDNUM" maxlength="18" placeholder="输入学生的身份证号" emptytips="学生身份证号不能为空" notmatchtips="身份证号码不正确">
                    </div>
                    <div class="weui-cell__ft">
                        <i class="weui-icon-warn"></i>
                    </div>
                </div>
            </div>
            <div class="weui-btn-area">
                <a id="regs_exam_scan" href="javascript:" class="weui-btn weui-btn_primary">学生：查询/识别</a>
            </div>
        </form>
    </div>
    <form id="regs_exam_stud" style="display:none; margin-bottom:20px;">
        <div class="weui-article" style="padding-bottom: 0px;">
            <div class="regs_exam_upload">
                <h1 id="regs_exam_name">学生姓名</h1>
                <div id="regs_exam_normal">
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="grade">毕业证</a>
                    </div>
                    <div id="regs_exam_image_grade" class="regs_exam_image">
                    </div>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="house">产权证</a>
                    </div>
                    <div id="regs_exam_image_house" class="regs_exam_image">
                    </div>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="card">身份证</a>
                    </div>
                    <div id="regs_exam_image_card" class="regs_exam_image">
                    </div>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="city">户口簿</a>
                    </div>
                    <div id="regs_exam_image_city" class="regs_exam_image">
                    </div>
                </div>
                <div class="weui-btn-area">
                    <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="paper">补充协议书</a>
                </div>
                <div id="regs_exam_image_paper" class="regs_exam_image">
                </div>
            </div>
        </div>
        <div class="weui-cells weui-cells_checkbox">
            <label class="weui-cell weui-check__label" for="regs_exam_choose">
                <div class="weui-cell__hd">
                    <input type="checkbox" class="weui-check" name="choose" id="regs_exam_choose" disabled="disabled">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>是否择校生</p>
                </div>
            </label>
        </div>
        <div class="weui-btn-area">
            <a id="regs_exam_success" href="javascript:" class="weui-btn weui-btn_warn weui-btn_disabled">通过审核</a>
        </div>
        <input type="hidden" id="regs_exam_id" />
        <input type="hidden" id="regs_exam_namex" />
    </form>
</body>
</html>
