
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>房产核查</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //提示
            var headloading = weui.loading('正在加载...');
            $.post('/Regs/JssdkEx', function (jsres) {
                if (jsres.error) {
                    weui.topTips(jsres.message, 3000);
                } else {
                    wx.config({
                        debug: false,
                        appId: jsres.appid,
                        timestamp: jsres.timestamp,
                        nonceStr: jsres.noncestr,
                        signature: jsres.signature,
                        jsApiList: [
                          'hideAllNonBaseMenuItem',
                          'scanQRCode',
                          'previewImage',
                        ]
                    });

                    //
                    $.post('/Regs/NotFixedCount', function (res) {
                        if (res.error) {
                            weui.topTips(res.message, 3000);
                        } else {
                            $('#regs_house_count').text(res);
                        }
                    })
                    //关闭
                    headloading.hide();
                    $('#regs_house').show();
                    wx.ready(function () {
                        //隐藏所有非基本菜单项
                        wx.hideAllNonBaseMenuItem({
                            success: function () {
                                //weui.alert('已隐藏所有非基本菜单项');
                            }
                        });

                        var reg = {
                            NAME: /^[\u4e00-\u9fa5]{2,4}$/,
                            IDNUM: /^\d{4,}$/,
                            NOH: /^[\u4e00-\u9fa5\s]{2,20}$/
                        };
                        weui.form.checkIfBlur('#regs_house_input', {
                            regexp: reg
                        });

                        //申请
                        $('#regs_house_fix').click(function () {
                            $('#regs_house').hide();
                            var loading = weui.loading('正在加载...');
                            //请求
                            $.post('/Regs/NotFixed', function (res) {
                                loading.hide();
                                //整理
                                $('#regs_house_input_img').attr('src', '/Image/code/' + res.ID + '?r=' + Math.random());
                                $('#regs_house_input_name').text(res.Name);
                                $('#regs_house_input_id').val(res.ID);
                                //消除
                                $('.weui-input').val('');
                                //显示
                                $('#regs_house_input').show();
                            });
                        });


                        //扫码
                        $('#regs_house_scan').click(function () {

                            wx.scanQRCode({
                                needResult: 1,
                                desc: 'scanQRCode desc',
                                success: function (sres) {
                                    var loading = weui.loading('正在加载...');
                                    $.post('/Regs/UrlByID', { id: sres.resultStr }, function (res) {
                                        loading.hide();
                                        if (res.error) {
                                            weui.topTips(res.message, 3000);
                                        } else {
                                            if (res.length != 0) {
                                                var cur = res[0];
                                                wx.previewImage({
                                                    current: cur,
                                                    urls: res
                                                });
                                            } else {
                                                weui.topTips('没有当前学生的上传照片', 3000);
                                            }
                                        }
                                    });
                                }
                            });

                        });

                        //提交
                        $('#regs_house_update').click(function () {
                            weui.form.validate('#regs_house_input', function (error) {
                                if (!error) {
                                    var loading = weui.loading('正在提交...');
                                    var data = $('#regs_house_input').serialize();
                                    $.post('/Regs/FixStud', data, function (res) {
                                        loading.hide();
                                        //
                                        if (res.error) {
                                            weui.topTips(res.message, 3000);
                                        } else {
                                            weui.toast('房产提交成功', 2000);

                                            $('#regs_house_count').text(res);
                                            $('#regs_house_input').hide();
                                            $('#regs_house').show();
                                        }
                                    })
                                }
                            }, {
                                regexp: reg
                            });
                        });


                    });

                    //错误检测
                    wx.error(function (errores) {
                        weui.alert(JSON.stringify(errores));
                    });
                }
            })
        })
    </script>
</head>
<body ontouchstart>
    <div class="weui-article" id="regs_house" style="display: none;">

        <div class="weui-form-preview" style="margin-top: 20px;">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">未核查房产信息学生数</label>
                    <em id="regs_house_count" class="weui-form-preview__value" style="color:red;"></em>
                </div>
            </div>
        </div>

        <div class="weui-btn-area">
            <a id="regs_house_fix" href="javascript:" class="weui-btn weui-btn_primary">申请输入</a>
        </div>
        <div class="weui-btn-area">
            <a id="regs_house_scan" href="javascript:" class="weui-btn weui-btn_primary">识别学生</a>
        </div>
    </div>

    <form class="weui-article" id="regs_house_input" style="display: none;">
        <img src="" id="regs_house_input_img" />
        <h1 id="regs_house_input_name" style="text-align:center; color:red;">学生姓名</h1>

        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">房主姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="Name1" required="required" pattern="REG_NAME" maxlength="4" placeholder="房屋产权人姓名" emptytips="产权人姓名不能为空" notmatchtips="产权人姓名不正确">
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">产权证号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="Home" required="required" pattern="REG_IDNUM" maxlength="20" placeholder="输入产权证号码" emptytips="产权证号码不能为空" notmatchtips="产权证号码不正确">
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">无房姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="Birth" required="required" pattern="REG_NOH" maxlength="20" placeholder="输入无房家长姓名、无" emptytips="家长姓名不能为空" notmatchtips="无房证姓名不正确">
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
        </div>
        <input id="regs_house_input_id" name="ID" type="hidden" />

        <div class="weui-btn-area">
            <a id="regs_house_update" href="javascript:" class="weui-btn weui-btn_primary">提交：产权信息</a>
        </div>
    </form>
</body>
</html>
