
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>班主任</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //提示
            var headloading = weui.loading('正在加载...');
            $.post('/Regs/JssdkMs', function (jsres) {
                if (jsres.error) {
                    weui.topTips(jsres.message, 3000);
                } else {
                    wx.config({
                        debug: false,
                        appId: jsres.appid,
                        timestamp: jsres.timestamp,
                        nonceStr: jsres.noncestr,
                        signature: jsres.signature,
                        jsApiList: [
                          'hideAllNonBaseMenuItem',
                          'scanQRCode',
                          'previewImage',
                        ]
                    });

                    //关闭
                    headloading.hide();
                    $('.reg_master').show();
                    //显示调动人员
                    $.post('/Regs/MaMoveStuds', function (res) {
                        if (res.error) {
                            weui.topTips(res.message, 3000);
                        } else {
                            $.each(res, function () {
                                var $warn_item = $('<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" style="padding: 5px 15px;"><div class="weui-media-box__hd"><div class="weui-media-box__thumb weui-icon-warn weui-icon_msg-primary" style="font-size: 45px; margin-top:8px;"></div></div><div class="weui-media-box__bd"><h4 class="weui-media-box__title">姓名</h4><p class="weui-media-box__desc">条号：<span order="0"></span><br />性别：<span order="1"></span>，总分：<span order="2"></span>，原班：<span order="3"></span></p></div></a>');
                                $warn_item.attr('studid', this.ID);
                                $warn_item.find('h4').text(this.StudName);
                                $warn_item.find('span[order=0]').text(this.BanNum);
                                $warn_item.find('span[order=1]').text(this.StudSex);
                                $warn_item.find('span[order=2]').text(this.Score);
                                $warn_item.find('span[order=3]').text(this.OldBanNum);
                                $warn_item.appendTo($('#reg_master-move_warn'));
                            })
                        }
                    });
                    //显示调动成功人员
                    $.post('/Regs/MaMovedStuds', function (res) {
                        if (res.error) {
                            weui.topTips(res.message, 3000);
                        } else {
                            $.each(res, function () {
                                var $warn_item = $('<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" style="padding: 5px 15px;"><div class="weui-media-box__hd"><div class="weui-media-box__thumb weui-icon-success" style="font-size: 45px; margin-top:8px;"></div></div><div class="weui-media-box__bd"><h4 class="weui-media-box__title">姓名</h4><p class="weui-media-box__desc">性别：<span order="1"></span>，总分：<span order="2"></span>，原班：<span order="3"></span></p></div></a>');
                                $warn_item.find('h4').text(this.StudName);
                                $warn_item.find('span[order=1]').text(this.StudSex);
                                $warn_item.find('span[order=2]').text(this.Score);
                                $warn_item.find('span[order=3]').text(this.OldBanNum);
                                $warn_item.appendTo($('#reg_master-move_success'));
                            })
                        }
                    });

                    //显示调动人数
                    $.post('/Regs/MaMoveBanNum', function (res) {
                        if (res.error) {
                            weui.topTips(res.message, 3000);
                        } else {
                            $('.reg_master-total_num').text(res.Command);
                            //成功人数
                            $('#reg_master-num2').text(res.Key);
                            //调动人数
                            $('#reg_master-num1').text(res.Value);
                        }
                    });


                    wx.ready(function () {
                        //隐藏所有非基本菜单项
                        wx.hideAllNonBaseMenuItem({
                            success: function () {
                                //weui.alert('已隐藏所有非基本菜单项');
                            }
                        });


                        //学生查询
                        var reg = {
                            NAME: /^[\u4e00-\u9fa5]{2,4}$/,
                        };
                        weui.form.checkIfBlur('#regs_master_form', {
                            regexp: reg
                        });
                        $('#regs_master-query').click(function () {
                            weui.form.validate('#regs_master_form', function (error) {
                                if (!error) {
                                    var loading = weui.loading('正在查询...');
                                    //提交
                                    var name = $('#reg_master-stud_name').val();
                                    $.post('/Regs/MaSearchStuds', { id: name }, function (res) {
                                        //关闭
                                        loading.hide();
                                        //提示
                                        if (res.error) {
                                            weui.topTips(res.message, 3000);
                                        } else {
                                            if (res.length == 0) weui.topTips("没找到你要的学生！", 3000);
                                            //清空
                                            $('#reg_master-students').empty();
                                            $('#reg_master-stud_name').val('');
                                            //添加查询学生到列表
                                            $.each(res, function () {
                                                var $warn_item = $('<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" style="padding: 5px 15px;"><div class="weui-media-box__hd"><div class="weui-media-box__thumb weui-icon-info" style="font-size: 45px; margin-top:8px;"></div></div><div class="weui-media-box__bd"><h4 class="weui-media-box__title">姓名</h4><p class="weui-media-box__desc">条号：<span order="0"></span><br />性别：<span order="1"></span>，总分：<span order="2"></span>，原班：<span order="3"></span></p></div></a>');
                                                $warn_item.attr('studid', this.ID);
                                                $warn_item.find('h4').text(this.StudName);
                                                $warn_item.find('span[order=0]').text(this.BanNum);
                                                $warn_item.find('span[order=1]').text(this.StudSex);
                                                $warn_item.find('span[order=2]').text(this.Score);
                                                $warn_item.find('span[order=3]').text(this.OldBanNum);
                                                $warn_item.appendTo($('#reg_master-students'));
                                            });
                                            //显示
                                            $('#reg_master-students').parent().show();
                                        }
                                    })
                                }
                            }, {
                                regexp: reg
                            });
                        });

                        //学生调动
                        $('#reg_master-students').on('click', '.weui-media-box__bd', function () {
                            var $item = $(this).parent();
                            var id = $item.attr('studid');
                            var name = $item.find('h4').text();
                            weui.confirm('　确定要将【' + name + '】调到你班？', function () {
                                var loading = weui.loading('正在调动...');
                                $.post('/Regs/MaMoveStud', { id: id }, function (res) {
                                    loading.hide();
                                    //清除查询记录
                                    $('#reg_master-students').empty();
                                    $('#reg_master-students').parent().hide();
                                    //结果
                                    if (res.error) {
                                        weui.topTips(res.message, 3000);
                                    } else {
                                        //添加调动名单
                                        var $warn_item = $('<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" style="padding: 5px 15px;"><div class="weui-media-box__hd"><div class="weui-media-box__thumb weui-icon-warn weui-icon_msg-primary" style="font-size: 45px; margin-top:8px;"></div></div><div class="weui-media-box__bd"><h4 class="weui-media-box__title">姓名</h4><p class="weui-media-box__desc">条号：<span order="0"></span><br />性别：<span order="1"></span>，总分：<span order="2"></span>，原班：<span order="3"></span></p></div></a>');
                                        $warn_item.attr('studid', res.ID);
                                        $warn_item.find('h4').text(res.StudName);
                                        $warn_item.find('span[order=0]').text(res.BanNum);
                                        $warn_item.find('span[order=1]').text(res.StudSex);
                                        $warn_item.find('span[order=2]').text(res.Score);
                                        $warn_item.find('span[order=3]').text(res.OldBanNum);
                                        $warn_item.appendTo($('#reg_master-move_warn'));

                                        //总人数
                                        var total = $('#reg_master-total_num').text();
                                        var num1 = $('#reg_master-move_warn a').length;
                                        var num2 = $('#reg_master-move_success a').length;
                                        //刷新人数
                                        $('#reg_master-num1').text(total - num1 - num2);
                                        $('#reg_master-num2').text(num2);
                                    }
                                })
                            }, function () {
                            }, { title: '调动确认' });
                        });

                        //添加调动中的学生名单事件：
                        //  点击，图标，提示删除
                        $('#reg_master-move_warn').on('click', '.weui-media-box__hd', function () {
                            var $item = $(this).parent();
                            var id = $item.attr('studid');
                            var name = $item.find('h4').text();

                            weui.confirm('　确定要将对【' + name + '】的调动删除？', function () {
                                var loading = weui.loading('正在删除...');
                                $.post('/Regs/MaReMoveStud', { id: id }, function (res) {
                                    loading.hide();
                                    if (res.error) {
                                        weui.topTips(res.message, 3000);
                                    } else {
                                        //删除成功，
                                        //清除当前调动学生信息
                                        $item.remove();

                                        //总人数
                                        var total = $('#reg_master-total_num').text();
                                        var num1 = $('#reg_master-move_warn a').length;
                                        var num2 = $('#reg_master-move_success a').length;
                                        //刷新人数
                                        $('#reg_master-num1').text(total - num1 - num2);
                                        $('#reg_master-num2').text(num2);
                                    }
                                })
                            }, function () {
                            }, { title: '删除确认' });

                        });
                        //  点击，学生，显示学生二维码
                        $('#reg_master-move_warn').on('click', '.weui-media-box__bd', function () {
                            var $item = $(this).parent();
                            var id = $item.attr('studid');
                            //
                            var loading = weui.loading('正在读取...');
                            $.post('/Regs/MaMoveCode', { id: id }, function (res) {
                                if (res.error) {
                                    weui.topTips(res.message, 3000);
                                } else {
                                    wx.previewImage({
                                        current: res,
                                        urls: [res],
                                    });
                                }
                                loading.hide();
                            });
                        });

                        //点击，显示交换学生二维码
                        $('#reg_master-move_prepare').on('click', '.weui-media-box__bd', function () {
                            var $item = $(this).parent();
                            var id = $item.attr('studid');
                            var id2 = $item.attr('studid2');
                            //
                            var loading = weui.loading('正在读取...');
                            $.post('/Regs/MaConfirmCode', { id: id, id2: id2 }, function (res) {
                                if (res.error) {
                                    weui.topTips(res.message, 3000);
                                } else {
                                    wx.previewImage({
                                        current: res,
                                        urls: [res],
                                    });
                                }
                                loading.hide();
                            });
                        });



                        //扫码，识别学生二维码
                        //  一、查询二维码
                        //  二、调动二维码
                        $('#regs_master-scan').click(function () {
                            //清除原查询记录
                            $('#reg_master-move_prepare').empty();
                            //识别：学生查询信息
                            wx.scanQRCode({
                                needResult: 1,
                                desc: 'scanQRCode desc',
                                success: function (sres) {
                                    var loading = weui.loading('正在加载...');
                                    $.post('/Regs/MaMoveScan', sres.resultStr, function (res) {
                                        loading.hide();
                                        if (res.error) {
                                            weui.topTips(res.message, 3000);
                                        } else {
                                            //识别：是查询的结果，则，添加调动名单
                                            if (res.Command == 'query') {
                                                $.each(res.Value, function () {
                                                    var $warn_item = $('<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" style="padding: 5px 15px;"><div class="weui-media-box__hd"><div class="weui-media-box__thumb weui-icon-waiting" style="font-size: 45px; margin-top:8px;"></div></div><div class="weui-media-box__bd"><h4 class="weui-media-box__title">姓名</h4><p class="weui-media-box__desc">条号：<span order="0"></span><br />性别：<span order="1"></span>，总分：<span order="2"></span>，原班：<span order="3"></span></p></div></a>');
                                                    $warn_item.attr('studid', this.ID);
                                                    $warn_item.attr('studid2', res.Key);
                                                    $warn_item.find('h4').text(this.StudName);
                                                    $warn_item.find('span[order=0]').text(this.BanNum);
                                                    $warn_item.find('span[order=1]').text(this.StudSex);
                                                    $warn_item.find('span[order=2]').text(this.Score);
                                                    $warn_item.find('span[order=3]').text(this.OldBanNum);
                                                    $warn_item.appendTo($('#reg_master-move_prepare'));
                                                });
                                                return;
                                            }
                                            //识别：是交换记录结果，则，刷新数据
                                            if (res.Command == 'confirm') {
                                                //删除查询记录
                                                var id = res.Value.ID;
                                                $('#reg_master-move_warn a[studid=' + id + ']').remove();
                                                //添加成功记录
                                                var $warn_item = $('<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" style="padding: 5px 15px;"><div class="weui-media-box__hd"><div class="weui-media-box__thumb weui-icon-success" style="font-size: 45px; margin-top:8px;"></div></div><div class="weui-media-box__bd"><h4 class="weui-media-box__title">姓名</h4><p class="weui-media-box__desc">性别：<span order="1"></span>，总分：<span order="2"></span>，原班：<span order="3"></span></p></div></a>');
                                                $warn_item.find('h4').text(res.Value.StudName);
                                                $warn_item.find('span[order=1]').text(res.Value.StudSex);
                                                $warn_item.find('span[order=2]').text(res.Value.Score);
                                                $warn_item.find('span[order=3]').text(res.Value.OldBanNum);
                                                $warn_item.appendTo($('#reg_master-move_success'));

                                                //总人数
                                                var total = $('#reg_master-total_num').text();
                                                var num1 = $('#reg_master-move_warn a').length;
                                                var num2 = $('#reg_master-move_success a').length;
                                                //刷新人数
                                                $('#reg_master-num1').text(total - num1 - num2);
                                                $('#reg_master-num2').text(num2);
                                                return;
                                            }
                                            //识别：是交换记录结果，则，刷新数据（公共关系）
                                            if (res.Command == 'confirmg') {
                                                //删除查询记录
                                                var id = res.Value.ID;
                                                $('#reg_master-move_warn a[studid=' + id + ']').remove();

                                                //总人数
                                                var total = $('#reg_master-total_num').text();
                                                var num1 = $('#reg_master-move_warn a').length;
                                                var num2 = $('#reg_master-move_success a').length;
                                                //刷新人数
                                                $('#reg_master-num1').text(total - num1 - num2);
                                                $('#reg_master-num2').text(num2);
                                                return;
                                            }

                                            //认不得的信息，提示出错
                                            weui.topTips("无法识别的扫码信息", 3000);
                                        }
                                    });
                                }
                            });

                        });


                    });

                    //错误检测
                    wx.error(function (errores) {
                        weui.alert(JSON.stringify(errores));
                    });
                }
            })
        })
    </script>
</head>
<body ontouchstart>

    <div class="reg_master" style="display:none;">

        <form id="regs_master_form">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">学生姓名</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="StudName" id="reg_master-stud_name" required="required" pattern="REG_NAME" maxlength="4" placeholder="输入学生姓名" emptytips="学生姓名不能为空" notmatchtips="学生姓名不正确">
                    </div>
                    <div class="weui-cell__ft">
                        <i class="weui-icon-warn"></i>
                    </div>
                </div>
            </div>

            <div class="weui-btn-area">
                <a id="regs_master-query" href="javascript:" class="weui-btn weui-btn_primary">查询：学生原始信息</a>
            </div>
        </form>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd" id="reg_master-students">
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">调动名单</h4>
                    <p class="weui-media-box__desc">　　调动总数：<span class="reg_master-total_num" style="color:red;">6</span>，剩余人数：<span id="reg_master-num1" style="color:blue;">1</span></p>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd" id="reg_master-move_warn">
            </div>
        </div>

        <div class="weui-btn-area">
            <a id="regs_master-scan" href="javascript:" class="weui-btn weui-btn_primary">识别：学生调动信息</a>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd" id="reg_master-move_prepare">
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">调动成功</h4>
                    <p class="weui-media-box__desc">　　调动总数：<span id="reg_master-total_num" class="reg_master-total_num" style="color:red;">6</span>，实际调动：<span id="reg_master-num2" style="color:blue;">1</span></p>
                </div>
            </div>
        </div>

        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd" id="reg_master-move_success">
            </div>
        </div>



        <form id="regs_master_form_if" style="display:none;">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">调动分差</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="tel" name="Differ" required="required" pattern="REG_IFNUM" maxlength="2" placeholder="调动学生总分差距" emptytips="分差不能为空" notmatchtips="分差不正确">
                    </div>
                    <div class="weui-cell__ft">
                        <i class="weui-icon-warn"></i>
                    </div>
                </div>
            </div>
            <div class="weui-cells weui-cells_checkbox">
                <label class="weui-cell weui-check__label" for="IsAbs">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" name="IsAbs" id="IsAbs">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>是否绝对值</p>
                    </div>
                </label>
                <label class="weui-cell weui-check__label" for="SameSex">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" name="SameSex" id="SameSex">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>同性别学生交换</p>
                    </div>
                </label>
            </div>
            <div class="weui-btn-area">
                <a id="regs_master-if" href="javascript:" class="weui-btn weui-btn_primary">修改：调动条件</a>
            </div>
        </form>
    </div>

</body>
</html>
