@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>班级照片</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //提示
            var headloading = weui.loading('正在加载...');
            $.post('/Regs/JssdkEx', function (jsres) {
                if (jsres.error) {
                    weui.topTips(jsres.message, 3000);
                } else {
                    wx.config({
                        debug: false,
                        appId: jsres.appid,
                        timestamp: jsres.timestamp,
                        nonceStr: jsres.noncestr,
                        signature: jsres.signature,
                        jsApiList: [
                          'hideAllNonBaseMenuItem',
                          'chooseImage',
                          'uploadImage',
                          'scanQRCode',
                        ]
                    });

                    //关闭
                    headloading.hide();
                    $('#stud_photo-con').show();

                    wx.ready(function () {
                        //隐藏所有非基本菜单项
                        wx.hideAllNonBaseMenuItem({
                            success: function () {
                                //weui.alert('已隐藏所有非基本菜单项');
                            }
                        });

                        $('#stud_photo-students, #regs_photo-scan_student').click(function () {
                            //识别
                            wx.scanQRCode({
                                needResult: 1,
                                desc: 'scanQRCode desc',
                                success: function (res) {
                                    var id = res.resultStr;
                                    var loading = weui.loading('正在识别...');
                                    $.post('/Regs/BanStudents', { id: id }, function (resex) {
                                        if (resex.error) {
                                            weui.topTips(resex.message, 3000);
                                        } else {
                                            var banids = $('#stud_photo-BanIDS').val();
                                            //不同班，清空，添加
                                            if (banids != resex.key.value) {
                                                $('#stud_photo-students').empty();
                                                var count = 0;
                                                $.each(resex.value, function () {
                                                    count++;
                                                    var $html = $($('#stud_photo-model').html());
                                                    $html.find('img').attr('src', '/image/cuttosize/?id=' + this.ID + '&width=300&height=400');
                                                    $html.find('span').text(this.Num + '）' + count + ' ' + this.Name);
                                                    $html.appendTo($('#stud_photo-students'));
                                                });
                                                //设置班级
                                                $('#stud_photo-BanIDS').val(banids);
                                            }
                                            //同班，跳转
                                            $(document).scrollTop(resex.key.key * 470);
                                        }
                                        //关闭
                                        loading.hide();
                                    });
                                }
                            });

                        });


                        var syncUpload = function (localIds, uploadtype) {
                            var localId = localIds.pop();
                            wx.uploadImage({
                                localId: localId,
                                isShowProgressTips: 1,
                                success: function (res) {
                                    //对serverId做处理的代码
                                    var other = $('#regs_exam_id').val();
                                    $.post('/Regs/UploadImageOther', { mediaID: res.serverId, uploadType: uploadtype, Other: other }, function (imgres) {
                                        if (imgres.error) {
                                            weui.topTips(imgres.message, 3000);
                                        } else {
                                            //更新
                                            var $id = $('#regs_exam_image_' + uploadtype)
                                            $('<img>').attr('src', '/Image/Uploaded/' + imgres.message).prependTo($id);
                                        }
                                    })
                                    if (localIds.length > 0) {
                                        syncUpload(localIds, uploadtype);
                                    }
                                }
                            });
                        }

                        //选择图片，上传
                        $('#stud_photo-students').on('click', 'img', function () {
                            //分类名称
                            var name = $(this).attr('uploadtype');
                            wx.chooseImage({
                                success: function (res) {
                                    syncUpload(res.localIds, name);
                                }
                            });
                        });

                        //错误检测
                        wx.error(function (errores) {
                            weui.alert(JSON.stringify(errores));
                        });
                    })
                }
            })
        });
    </script>

    <style type="text/css">
        img[src=""] { opacity: 0; }
        .stud_photo-item { width: 300px; height: 450px; margin: 20px auto 0px; background: #eee; border-radius: 20px; }
        .stud_photo-item-img { width: 300px; height: 400px; float: left; border-top-left-radius: 20px; border-top-right-radius: 20px; }
        .stud_photo-item-name { width: 300px; height: 50px; float: left; line-height: 50px; text-align: center; font-family: '黑体'; font-size: 22px; background: #fff; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
    </style>
</head>
<body ontouchstart style="background: #ddd;">
    <div id="stud_photo-con" style="display: none;">
        <div id="stud_photo-students">
        </div>
        <div class="weui-btn-area">
            <a id="regs_photo-scan_student" href="javascript:" class="weui-btn weui-btn_primary">识别：学生信息</a>
        </div>
    </div>
    <div id="stud_photo-model" style="display: none;">
        <div class="stud_photo-item">
            <img class="stud_photo-item-img" src="" alt="" onerror="this.src = '';" />
            <div class="stud_photo-item-name">
                <span>4）01 石亮石亮</span>
            </div>
        </div>
    </div>
    <input type="hidden" id="stud_photo-BanIDS" />

</body>
</html>
