@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>班级照片</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //提示
            var headloading = weui.loading('正在加载...');
            $.post('/Regs/JssdkEx', function (jsres) {
                if (jsres.error) {
                    weui.topTips(jsres.message, 3000);
                } else {
                    wx.config({
                        debug: false,
                        appId: jsres.appid,
                        timestamp: jsres.timestamp,
                        nonceStr: jsres.noncestr,
                        signature: jsres.signature,
                        jsApiList: [
                          'hideAllNonBaseMenuItem',
                          'chooseImage',
                          'uploadImage',
                          'scanQRCode',
                        ]
                    });

                    //关闭
                    headloading.hide();
                    $('#stud_photo-con').show();

                    wx.ready(function () {
                        //隐藏所有非基本菜单项
                        wx.hideAllNonBaseMenuItem({
                            success: function () {
                                //weui.alert('已隐藏所有非基本菜单项');
                            }
                        });

                        $('#regs_photo-scan_student').click(function () {
                            //识别
                            wx.scanQRCode({
                                needResult: 1,
                                desc: 'scanQRCode desc',
                                success: function (res) {
                                    var id = res.resultStr;
                                    var loading = weui.loading('正在识别...');
                                    $.post('/Regs/BanStudents', { id: id }, function (resex) {
                                        if (resex.error) {
                                            weui.topTips(resex.message, 3000);
                                        } else {
                                            var banids = $('#stud_photo-BanIDS').val();
                                            //不同班，清空，添加
                                            if (banids != resex.key.value) {
                                                $('#stud_photo-students').empty();
                                                var count = 0;
                                                $.each(resex.value, function () {
                                                    count++;
                                                    var $html = $($('#stud_photo-model').html());
                                                    $html.find('img').attr('imageid', this.ID);
                                                    $html.find('img').attr('studids', this.IDS);
                                                    $html.find('img').attr('src', '/image/cuttosize/?id=' + this.ID + '&width=330&height=440');
                                                    $html.find('span').text(this.Num + '）' + count + ' ' + this.Name);
                                                    $html.appendTo($('#stud_photo-students'));
                                                });
                                                //设置班级
                                                $('#stud_photo-BanIDS').val(banids);
                                            }
                                            //同班，跳转
                                            $(document).scrollTop(resex.key.key * 515);
                                        }
                                        //关闭
                                        loading.hide();
                                    });
                                }
                            });
                        });


                        var syncUpload = function (localIds, userids, domid) {
                            var localId = localIds.pop();
                            wx.uploadImage({
                                localId: localId,
                                isShowProgressTips: 1,
                                success: function (res) {
                                    //对serverId做处理的代码
                                    $.post('/Regs/BanPhotoUpload', { mediaID: res.serverId, studIDS: userids }, function (imgres) {
                                        if (imgres.error) {
                                            weui.topTips(imgres.message, 3000);
                                        } else {
                                            //更新
                                            domid.attr('imageid', imgres);
                                            domid.attr('studids', userids);
                                            domid.attr('src', '/image/cuttosize/?id=' + imgres + '&width=330&height=440')
                                        }
                                    })
                                    //上传多个
                                    //if (localIds.length > 0) {
                                    //    syncUpload(localIds, uploadtype);
                                    //}
                                }
                            });
                        }

                        //图片为空，上传；不空，可以删除
                        $('#stud_photo-students').on('click', 'img', function () {
                            //图片不空，可以删除
                            var imageid = $(this).attr('imageid');
                            var studids = $(this).attr('studids');
                            var imageurl = $(this).attr('src');
                            var $this = $(this);
                            if (imageurl) {
                                var gallery = weui.gallery(imageurl, {
                                    onDelete: function () {
                                        weui.confirm('　确定删除该照片？', function () {
                                            gallery.hide();
                                            var loading = weui.loading('正在删除...');
                                            $.post('/Regs/BanPhotoDelete', { imageID: imageid, studIDS: studids }, function (res) {
                                                loading.hide();
                                                if (res.error) {
                                                    weui.topTips(res.message, 3000);
                                                } else {
                                                    //刷新删除
                                                    $this.attr('src', '');
                                                    weui.toast(res.message, 1500);
                                                }
                                            })
                                        }, function () {
                                            gallery.hide();
                                        }, { title: '图片删除' });
                                    }
                                });
                            } else {
                                //图片为空，可以上传
                                wx.chooseImage({
                                    success: function (res) {
                                        syncUpload(res.localIds, studids, $this);
                                    }
                                });
                            }

                        });

                        //错误检测
                        wx.error(function (errores) {
                            weui.alert(JSON.stringify(errores));
                        });
                    })
                }
            })
        });
    </script>

    <style type="text/css">
        img[src=""] { opacity: 0; }
        .stud_photo-item { width: 330px; height: 495px; margin: 20px auto 0px; background: #eee; border-radius: 20px; }
        .stud_photo-item-img { width: 330px; height: 440px; float: left; border-top-left-radius: 20px; border-top-right-radius: 20px; }
        .stud_photo-item-name { width: 330px; height: 55px; float: left; line-height: 55px; text-align: center; font-family: '黑体'; font-size: 22px; background: #fff; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
    </style>
</head>
<body ontouchstart style="background: #ddd;">
    <div id="stud_photo-con" style="display: none;">
        <div id="stud_photo-students">
        </div>
        <div class="weui-btn-area">
            <a id="regs_photo-scan_student" href="javascript:" class="weui-btn weui-btn_primary">识别：学生信息</a>
        </div>
    </div>
    <div id="stud_photo-model" style="display: none;">
        <div class="stud_photo-item">
            <img class="stud_photo-item-img" src="" alt="" onerror="this.src = '';" />
            <div class="stud_photo-item-name">
                <span>4）01 石亮石亮</span>
            </div>
        </div>
    </div>
    <input type="hidden" id="stud_photo-BanIDS" />
</body>
</html>
