@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>材料复核</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //提示
            var headloading = weui.loading('正在加载...');
            $.post('/Regs/JssdkEx', function (jsres) {
                if (jsres.error) {
                    weui.topTips(jsres.message, 3000);
                } else {
                    wx.config({
                        debug: false,
                        appId: jsres.appid,
                        timestamp: jsres.timestamp,
                        nonceStr: jsres.noncestr,
                        signature: jsres.signature,
                        jsApiList: [
                          'hideAllNonBaseMenuItem',
                          'scanQRCode',
                        ]
                    });

                    //统计通过复核人数
                    $.post('/Regs/RexamedStuds', function (res) {
                        if (res.error) {
                            weui.topTips(res.message, 3000);
                        } else {
                            //人数
                            $('#regs_rexam_studs_count').text(res);
                        }
                    });
                    //关闭
                    headloading.hide();
                    //
                    $('#regs_rexam_form').show();
                    //
                    wx.ready(function () {
                        //隐藏所有非基本菜单项
                        wx.hideAllNonBaseMenuItem({
                            success: function () {
                                //weui.alert('已隐藏所有非基本菜单项');
                            }
                        });

                        var reg = {
                            IDNUM: /^\d{17}[\dxX]$/,
                        };
                        weui.form.checkIfBlur('#regs_rexam_form', {
                            regexp: reg
                        });
                        //识别学生
                        $('#regs_rexam_scan').click(function () {
                            var idc = $('#regs_rexam_idc input').val();
                            //手动输入
                            if (idc.length != 0) {
                                weui.form.validate('#regs_rexam_form', function (error) {
                                    if (!error) {
                                        var loading = weui.loading('正在查询...');
                                        $.post('/Regs/GetInforByIdc', { idc: idc }, function (res) {
                                            if (res.error) {
                                                //补充
                                                if (res.message.key) {
                                                    weui.topTips(res.message.value, 3000);
                                                    $('#' + res.message.key).addClass('weui-cell_warn');
                                                } else {
                                                    weui.topTips(res.message, 3000);
                                                }
                                            } else {
                                                $('#regs_rexam_idc input').val('');
                                                //
                                                $('#regs_rexam_id').val(res.key.value);
                                                $('#regs_rexam_name').text(res.key.key + '：' + idc);
                                                $('#regs_rexam_namex').val(res.key.key);
                                                $('#regs_rexam_name1').text(res.key.key);
                                                $('#regs_rexam_choose').prop('checked', res.value.key);
                                                //分类
                                                $('.regs_rexam_image').empty();
                                                $.each(res.value.value, function () {
                                                    var $id = $('#regs_rexam_image_' + this.value)
                                                    $('<img>').attr('src', '/Image/Uploaded/' + this.key).appendTo($id);
                                                })
                                                //显示
                                                $('#regs_rexam_stud').show();
                                                $('#regs_rexam_form').hide();
                                            }
                                            //
                                            loading.hide();
                                        })
                                    }
                                }, {
                                    regexp: reg
                                });
                                return;
                            }
                            //识别
                            wx.scanQRCode({
                                needResult: 1,
                                desc: 'scanQRCode desc',
                                success: function (res) {
                                    var idc = res.resultStr;
                                    var loading = weui.loading('正在识别...');
                                    $.post('/Regs/GetInforByScan', { idc: idc }, function (res) {
                                        if (res.error) {
                                            //补充
                                            if (res.message.key) {
                                                weui.topTips(res.message.value, 3000);
                                                $('#' + res.message.key).addClass('weui-cell_warn');
                                            } else {
                                                weui.topTips(res.message, 3000);
                                            }
                                        } else {
                                            $('#regs_rexam_id').val(res.key.value);
                                            $('#regs_rexam_name').text(res.key.key + '：' + idc);
                                            $('#regs_rexam_namex').val(res.key.key);
                                            $('#regs_rexam_name1').text(res.key.key);
                                            $('#regs_rexam_choose').prop('checked', res.value.key);
                                            //分类
                                            $('.regs_rexam_image').empty();
                                            $.each(res.value.value, function () {
                                                var $id = $('#regs_rexam_image_' + this.value)
                                                $('<img>').attr('src', '/Image/Uploaded/' + this.key).appendTo($id);
                                            })
                                            //显示
                                            $('#regs_rexam_stud').show();
                                            $('#regs_rexam_form').hide();
                                        }
                                        //
                                        loading.hide();
                                    })
                                }
                            });
                        });

                        //审核退回
                        $('#regs_rexam_roll').click(function () {
                            var id = $('#regs_rexam_id').val();
                            //普通
                            weui.confirm('　重审报名学生资料？', function () {
                                $.post('/Regs/RollById', { id: id }, function (res) {
                                    if (res.error) {
                                        weui.topTips(res.message, 3000);
                                    } else {
                                        weui.toast(res.message, 1500);
                                        //反馈
                                        $('#regs_rexam_stud').hide();
                                        $('#regs_rexam_form').show();
                                    }
                                })
                            }, function () { }, { title: '退回重审' });
                        });

                        //通过复核
                        $('#regs_rexam_pass').click(function () {
                            //提交
                            var id = $('#regs_rexam_id').val();
                            var name = $('#regs_rexam_namex').val();
                            //普通
                            weui.confirm('　确认通过【' + name + '】的报名审核？', function () {
                                $.post('/Regs/RexamById', { id: id }, function (res) {
                                    if (res.error) {
                                        weui.topTips(res.message, 3000);
                                    } else {
                                        weui.toast('通过复核', 1500);
                                        //变更
                                        var item = $('#regs_rexam_studs_oked .weui-form-preview__item:last');
                                        item.find('label').text(res.key);
                                        item.find('span').text(res.value);
                                        //反馈
                                        $('#regs_rexam_stud').hide();
                                        $('#regs_rexam_studs_oked').show();
                                        $('#regs_rexam_form').show();
                                    }
                                })
                            }, function () { }, { title: '通过复核' });
                        });

                    });

                    //错误检测
                    wx.error(function (errores) {
                        weui.alert(JSON.stringify(errores));
                    });
                }
            })
        })
    </script>
</head>
<body ontouchstart>
    <div class="weui-article" id="regs_rexam_form" style="display:none;">
        <h1>学生查询</h1>
        <form>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell" id="regs_rexam_idc">
                    <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">身份证号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="tel" name="idc" required="required" pattern="REG_IDNUM" maxlength="18" placeholder="输入学生的身份证号" emptytips="学生身份证号不能为空" notmatchtips="身份证号码不正确">
                    </div>
                    <div class="weui-cell__ft">
                        <i class="weui-icon-warn"></i>
                    </div>
                </div>
            </div>
            <div class="weui-btn-area">
                <a id="regs_rexam_scan" href="javascript:" class="weui-btn weui-btn_primary">学生：查询/识别</a>
            </div>

            <div class="weui-form-preview" style="margin-top: 20px;">
                <div class="weui-form-preview__hd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">复核通过人数</label>
                        <em id="regs_rexam_studs_count" class="weui-form-preview__value" style="color:red;"></em>
                    </div>
                </div>
                <div class="weui-form-preview__bd" id="regs_rexam_studs_oked" style="display: none;">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">学生姓名</label>
                        <span class="weui-form-preview__value">录取编号</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">学生姓名</label>
                        <span class="weui-form-preview__value">录取编号</span>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div id="regs_rexam_stud" style="display:none; margin-bottom:20px;">
        <div class="weui-article" style="padding-bottom: 0px;">
            <div class="regs_rexam_upload">
                <h1 id="regs_rexam_name">学生姓名</h1>
                <div id="regs_rexam_normal">
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="photo">学生照片</a>
                    </div>
                    <div id="regs_rexam_image_photo" class="regs_rexam_image">
                    </div>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="grade">毕业证</a>
                    </div>
                    <div id="regs_rexam_image_grade" class="regs_rexam_image">
                    </div>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="house">产权证</a>
                    </div>
                    <div id="regs_rexam_image_house" class="regs_rexam_image">
                    </div>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="card">身份证</a>
                    </div>
                    <div id="regs_rexam_image_card" class="regs_rexam_image">
                    </div>
                    <div class="weui-btn-area">
                        <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="city">户口簿</a>
                    </div>
                    <div id="regs_rexam_image_city" class="regs_rexam_image">
                    </div>
                </div>
                <div class="weui-btn-area">
                    <a href="javascript:" class="weui-btn weui-btn_primary weui-btn_disabled" uploadtype="paper">补充协议书</a>
                </div>
                <div id="regs_rexam_image_paper" class="regs_rexam_image">
                </div>
            </div>
        </div>
        <div class="weui-cells weui-cells_checkbox">
            <label class="weui-cell weui-check__label" for="regs_rexam_choose">
                <div class="weui-cell__hd">
                    <input type="checkbox" class="weui-check" name="choose" id="regs_rexam_choose" disabled="disabled">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>是否择校生</p>
                </div>
            </label>
        </div>
        <div class="weui-article" style="padding-bottom: 0px;" id="regs_rexam_finded">
            <div style="margin-top: 10px;">
                <h2>　<span id="regs_rexam_name1" style="color:red;">学生姓名</span>同学的资料已完成初审，如果材料无误，请选择“通过复核”；如果需要重审，请选择“退回重审”。</h2>
                <div class="weui-btn-area">
                    <a id="regs_rexam_pass" href="javascript:" class="weui-btn weui-btn_primary">通过复核</a>
                </div>
                <div class="weui-btn-area">
                    <a id="regs_rexam_roll" href="javascript:" class="weui-btn weui-btn_warn">退回重审</a>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="regs_rexam_id" />
    <input type="hidden" id="regs_rexam_namex" />
</body>
</html>
