@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>审核退回</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //提示
            var headloading = weui.loading('正在加载...');
            $.post('/Regs/JssdkEx', function (jsres) {
                if (jsres.error) {
                    weui.topTips(jsres.message, 3000);
                } else {
                    wx.config({
                        debug: false,
                        appId: jsres.appid,
                        timestamp: jsres.timestamp,
                        nonceStr: jsres.noncestr,
                        signature: jsres.signature,
                        jsApiList: [
                          'hideAllNonBaseMenuItem',
                          'scanQRCode',
                        ]
                    });

                    $('.weui-article').show();
                    //
                    $.post('/Regs/NotPassStuds', function (res) {
                        if (res.error) {
                            weui.topTips(res.message, 3000);
                        } else {
                            $.each(res, function () {
                                var $item = $('<div class="weui-form-preview__item"><label class="weui-form-preview__label"></label><span class="weui-form-preview__value"></span></div>');
                                $item.find('label').text(this.key);
                                $item.find('span').text(this.value);
                                $item.appendTo($('#regs_rexam_studs_back'));
                            });
                            //人数
                            $('#regs_rexam_studs_count').text($('#regs_rexam_studs_back div').length);
                        }
                    });
                    //关闭
                    headloading.hide();
                    //
                    wx.ready(function () {
                        //隐藏所有非基本菜单项
                        wx.hideAllNonBaseMenuItem({
                            success: function () {
                                //weui.alert('已隐藏所有非基本菜单项');
                            }
                        });

                        var reg = {
                            IDNUM: /^\d{17}[\dxX]$/,
                        };
                        weui.form.checkIfBlur('#regs_rexam_form', {
                            regexp: reg
                        });
                        //识别学生
                        $('#regs_rexam_scan').click(function () {
                            var idc = $('#regs_rexam_idc input').val();
                            //手动输入
                            if (idc.length != 0) {
                                weui.form.validate('#regs_rexam_form', function (error) {
                                    if (!error) {
                                        var loading = weui.loading('正在查询...');
                                        $.post('/Regs/GetInforByIdc', { idc: idc }, function (res) {
                                            if (res.error) {
                                                $('#regs_rexam_finded').hide();
                                                $('#regs_rexam_id').val('');
                                                $('#regs_rexam_name').text('学生姓名');
                                                //补充
                                                if (res.message.key) {
                                                    weui.topTips(res.message.value, 3000);
                                                    $('#' + res.message.key).addClass('weui-cell_warn');
                                                } else {
                                                    weui.topTips(res.message, 3000);
                                                }
                                            } else {
                                                $('#regs_rexam_id').val(res.message.key);
                                                $('#regs_rexam_name').text(res.message.value);
                                                //
                                                $('#regs_rexam_finded').fadeIn();
                                            }
                                            //
                                            loading.hide();
                                        })
                                    } else {
                                        $('#regs_rexam_finded').hide();
                                        $('#regs_rexam_id').val('');
                                        $('#regs_rexam_name').text('学生姓名');
                                    }
                                }, {
                                    regexp: reg
                                });
                                return;
                            }
                            //识别
                            wx.scanQRCode({
                                needResult: 1,
                                desc: 'scanQRCode desc',
                                success: function (res) {
                                    var idc = res.resultStr;
                                    var loading = weui.loading('正在识别...');
                                    $.post('/Regs/GetInforByScan', { idc: idc }, function (res) {
                                        if (res.error) {
                                            $('#regs_rexam_finded').hide();
                                            $('#regs_rexam_id').val('');
                                            $('#regs_rexam_name').text('学生姓名');
                                            //补充
                                            if (res.message.key) {
                                                weui.topTips(res.message.value, 3000);
                                                $('#' + res.message.key).addClass('weui-cell_warn');
                                            } else {
                                                weui.topTips(res.message, 3000);
                                            }
                                        } else {
                                            $('#regs_rexam_id').val(res.message.key);
                                            $('#regs_rexam_name').text(res.message.value);
                                            //
                                            $('#regs_rexam_finded').fadeIn();
                                        }
                                        //
                                        loading.hide();
                                    })
                                }
                            });
                        });

                        //审核退回
                        $('#regs_rexam_upload').click(function () {
                            //提交
                            var id = $('#regs_rexam_id').val();
                            var name = $('#regs_rexam_name').text();
                            //普通
                            weui.confirm('　确认退回【' + name + '】的报名审核？', function () {
                                $.post('/Regs/RexamById', { id: id }, function (res) {
                                    if (res.error) {
                                        weui.topTips(res.message, 3000);
                                    } else {
                                        weui.toast(res.message, 2000);
                                        //反馈
                                        $('#regs_rexam_finded').hide();
                                        $('#regs_rexam_id').val('');
                                        $('#regs_rexam_idc input').val('');
                                        $('#regs_rexam_name').text('学生姓名');
                                    }
                                })
                            }, function () { }, { title: '审核退回' });
                        });


                        //审核学生列表
                        $('#regs_rexam_studs_back_click').click(function () {
                            if ($('#regs_rexam_studs_back').is(':visible')) {
                                $('#regs_rexam_studs_back').hide();
                            } else {
                                $('#regs_rexam_studs_back').show();
                            }
                        });



                    });

                    //错误检测
                    wx.error(function (errores) {
                        weui.alert(JSON.stringify(errores));
                    });
                }
            })
        })
    </script>
</head>
<body ontouchstart>
    <div class="weui-article" style="display:none;">
        <h1>学生查询</h1>
        <form id="regs_rexam_form">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell" id="regs_rexam_idc">
                    <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">身份证号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="tel" name="idc" required="required" pattern="REG_IDNUM" maxlength="18" placeholder="输入学生的身份证号" emptytips="学生身份证号不能为空" notmatchtips="身份证号码不正确">
                    </div>
                    <div class="weui-cell__ft">
                        <i class="weui-icon-warn"></i>
                    </div>
                </div>
            </div>
            <div class="weui-btn-area">
                <a id="regs_rexam_scan" href="javascript:" class="weui-btn weui-btn_primary">学生：查询/识别</a>
            </div>
        </form>
        <div id="regs_rexam_finded" style="display:none; margin-top: 10px;">
            <h2>　<span id="regs_rexam_name" style="color:red;">学生姓名</span>同学的资料已完成审核，如果需要重审，请退回！</h2>
            <div class="weui-btn-area">
                <a id="regs_rexam_upload" href="javascript:" class="weui-btn weui-btn_warn">审核退回</a>
            </div>
            <input id="regs_rexam_id" type="hidden">
        </div>

        <div class="weui-form-preview" style="margin-top: 20px;">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">未审核人数</label>
                    <em id="regs_rexam_studs_count" class="weui-form-preview__value" style="color:red;"></em>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">学生姓名</label>
                    <span class="weui-form-preview__value">录取编号</span>
                </div>
                <div id="regs_rexam_studs_back" style="display: none;">
                </div>
            </div>
            <div class="weui-form-preview__ft">
                <a id="regs_rexam_studs_back_click" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">学生：显示/隐藏</a>
            </div>
        </div>

    </div>
</body>
</html>
