@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>绑定学生</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>

    <script type="text/javascript">
        $(function () {
            //提示
            var headloading = weui.loading('正在加载...');
            //加载js
            $.post('/Regs/Jssdk', function (jsres) {
                if (jsres.error) {
                    weui.topTips(jsres.message, 3000);
                } else {
                    //显示学生
                    if (jsres.name) {
                        $('#regs_scaned_name').text(jsres.name);
                        $('#regs_scaned').fadeIn();
                    } else {
                        $('#regs_scan').fadeIn();
                    }

                    //
                    wx.config({
                        debug: false,
                        appId: jsres.appid,
                        timestamp: jsres.timestamp,
                        nonceStr: jsres.noncestr,
                        signature: jsres.signature,
                        jsApiList: [
                          'hideAllNonBaseMenuItem',
                          'scanQRCode',
                        ]
                    });

                    //关闭
                    headloading.hide();
                    //
                    wx.ready(function () {
                        //隐藏所有非基本菜单项
                        wx.hideAllNonBaseMenuItem({
                            success: function () {
                                //weui.alert('已隐藏所有非基本菜单项');
                            }
                        });

                        $('#regs_scan_bind').click(function () {
                            //识别
                            wx.scanQRCode({
                                needResult: 1,
                                desc: 'scanQRCode desc',
                                success: function (res) {
                                    var idc = res.resultStr;
                                    var loading = weui.loading('正在识别...');
                                    $.post('/Regs/BindStudByScan', { idc: idc }, function (resex) {
                                        if (resex.error) {
                                            weui.topTips(resex.message, 3000);
                                        } else {
                                            $('#regs_scan').hide();
                                            //
                                            jsres.name = resex.message;
                                            $('#regs_scaned_name').text(resex.message);
                                            $('#regs_scaned').fadeIn();
                                        }
                                        //关闭
                                        loading.hide();
                                    });
                                }
                            });
                        });

                        //查询方式绑定学生
                        var reg_scan = {
                            IDNUM: /^\d{17}[\dxX]$/,
                            NAME: /^[\u4e00-\u9fa5]{2,4}$/,
                        };
                        weui.form.checkIfBlur('#regs_scan_form', {
                            regexp: reg_scan
                        });
                        $('#regs_scan_find').click(function () {

                            weui.form.validate('#regs_scan_form', function (error) {
                                if (!error) {
                                    var loading = weui.loading('正在查询...');
                                    //提交
                                    var data = $('#regs_scan_form').serialize();
                                    $.post('/Regs/BindStudByFind', data, function (resex) {
                                        //关闭
                                        loading.hide();
                                        if (resex.error) {
                                            if (resex.message.key) {
                                                //字段加红
                                                $('#' + resex.message.key).addClass('weui-cell_warn');
                                            }
                                            weui.topTips(resex.message.value, 3000);
                                        } else {
                                            $('#regs_scan').hide();
                                            //
                                            jsres.name = resex.message.value;
                                            $('#regs_scaned_name').text(resex.message.value);
                                            $('#regs_scaned').fadeIn();
                                        }
                                    });
                                }
                            }, {
                                regexp: reg_scan
                            });
                        });


                        //解绑
                        $('#regs_scan_unbind').click(function () {
                            //普通
                            weui.confirm('　确认解除与【' + jsres.name + '】的绑定？', function () {
                                $.post('/Regs/UnBindStud', { id: jsres.idc }, function (res) {
                                    if (res.error) {
                                        weui.topTips(res.message, 3000);
                                    } else {
                                        weui.toast(res.message, 1500);
                                        //反馈
                                        $('#regs_scaned').hide();
                                        $('#regs_scan').show();
                                    }
                                })
                            }, function () { }, { title: '解除绑定' });

                        });



                    });

                    //错误检测
                    wx.error(function (errores) {
                        weui.alert(JSON.stringify(errores));
                    });
                }
            })
        })
    </script>

    <style type="text/css">
        .weui-btn { margin-bottom: 20px; }
    </style>
</head>

<body ontouchstart>
    <div class="weui-article" id="regs_scan" style="display: none;">
        <h1>绑定方式一：</h1>
        <form class="weui-cells weui-cells_form" id="regs_scan_form">
            <div class="weui-cell" id="regs_scan_idc">
                <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">身份证号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" name="idc" required="required" pattern="REG_IDNUM" maxlength="18" placeholder="输入学生身份证号" emptytips="学生身份证号不能为空" notmatchtips="身份证号码不正确">
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label" style="width:90px;">学生姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="name" required="required" pattern="REG_NAME" maxlength="4" placeholder="输入绑定学生姓名" emptytips="学生姓名不能为空" notmatchtips="学生姓名不正确">
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
        </form>
        <div class="weui-btn-area">
            <a id="regs_scan_find" href="javascript:" class="weui-btn weui-btn_primary">查询学生信息</a>
        </div>
        <h1>绑定方式二：</h1>
        <div class="weui-btn-area">
            <a id="regs_scan_bind" href="javascript:" class="weui-btn weui-btn_primary">扫描学生二维码</a>
        </div>
        <h2 style="color:red;">说明：一个微信号只能绑定一个学生！</h2>
    </div>

    <div class="weui-msg" id="regs_scaned" style="display:none;">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">绑定成功</h2>
            <h3 class="weui-msg__desc" id="regs_scaned_name" style="color:red;"></h3>
            <p class="weui-msg__desc">已完成与微信号的绑定</p>
        </div>

        <div class="weui-btn-area">
            <a id="regs_scan_unbind" href="javascript:" class="weui-btn weui-btn_warn">解除绑定</a>
        </div>
    </div>

    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">实验初中</a>
            </p>
            <p class="weui-footer__text">Copyright © 2017</p>
        </div>
    </div>

</body>
</html>
