@{
    Layout = null;
    //UserHistory/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>历年学生</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            historys = {
                add: function () {
                    DataGridNone('/UserHistory/Add');
                },
                del: function () {
                    DataGridRowID('#historys-grid', '/UserHistory/Del');
                }
            }

            //数据表格
            $('#historys-grid').datagrid({
                fit: true,
                border: false,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                sortOrder: 'asc',
                singleSelect: true,
                checkOnSelect: true,
                url: '/UserHistory/DataGrid',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { field: 'ck', checkbox: true },
                    { title: '分级年级', field: 'BanLongName', align: 'center', width: 160 },
                    { title: '身份证号', field: 'CID', align: 'center', width: 150 },
                    { title: '姓名', field: 'StudName', align: 'center', width: 60 },
                    {
                        title: '性别', field: 'StudSex', align: 'center', sortable: true, width: 50,
                        formatter: function (value, row, index) {
                            if (value)
                                return parseInt(value) % 2 == 0 ? "女" : "男";
                        },
                    },
                    { title: '学生来源', field: 'ComeName', align: 'center', sortable: true, width: 70 },
                    { title: '学籍状态', field: 'OutName', align: 'center', sortable: true, remoteSort: false, width: 70 },
                ]],

                toolbar: '#historys-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });


            //布局
            $('#historys-lay').layout({
                fit: true,
                border: true,
            });

            $('#historys-tree').tree({
                fit: true,
                url: '/UserHistory/GradeTree',
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },
                onBeforeLoad: function (node, param) {
                    if (node) {
                        param.memo = node.memo;
                    }
                },
                onClick: function (node) {
                    if (node) {
                        $('#historys-grid').datagrid({
                            queryParams: {
                                id: node.id,
                                memo: node.memo,
                                text: null,
                            }
                        });
                    }
                },
            });

        })
    </script>
</head>
<body>
    <div id="historys-lay">
        <div data-options="region:'west',border:true, title:'校区年级'" style="width:200px;">
            <ul id="historys-tree"></ul>
        </div>
        <div data-options="region:'center',border:true, title:'年级班级'">
            <table id="historys-grid"></table>
            <div id="historys-grid-tool">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="historys.add();">添加</a>
                            </td>
                            <td>
                                <div class="datagrid-btn-separator"></div>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="historys.del();">删除</a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
