@{
    Layout = null;
    //StudEdit/Index
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生信息</title>

    <script type="text/javascript">
        $(function () {

            //点击动作
            studedits = {
                edit: function () {
                    DataGridRow('#studedits-grid', '/StudEdit/Edit')
                },
                fix: function () {
                    DataGridRow('#studedits-grid', '/StudEdit/Fix')
                },
            }

            //数据表格
            $('#studedits-grid').datagrid({
                fit: true,
                striped: true,
                rownumbers: true,
                fitColumns: false,
                remoteSort: false,
                sortOrder: 'asc',
                singleSelect: true,
                checkOnSelect: true,
                url: '/StudEdit/DataGrid',
                queryParams: {
                    id: '@ViewBag.ID',
                },
                loadFilter: function (d) {
                    if (d.error) {
                        $.messager.alert('错误提示', d.message, 'error');
                        return { total: 0, rows: [] };
                    } else {
                        return d;
                    }
                },

                columns: [[
                    { title: '年级', field: 'StepName', align: 'center', width: 100 },
                    { title: '姓名', field: 'Name', align: 'center', width: 60 },
                    { title: '身份证号', field: 'CID', align: 'center', width: 150 },
                    { title: '父亲', field: 'Name1', align: 'center', width: 60 },
                    { title: '母亲', field: 'Name2', align: 'center', width: 60 },
                    { title: '电话', field: 'Mobil1', align: 'center', width: 100 },
                    { title: '手机', field: 'Mobil2', align: 'center', width: 100 },
                    {
                        title: '是否更新', field: 'Checked', align: 'center', width: 60,
                        formatter: function (value, row, index) {
                            //不输出任何东西
                            //return value.ok ? null : value.message;
                        },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                            }
                        },
                    },
                    {
                        title: '是否确认', field: 'Fixed', align: 'center', width: 60,
                        formatter: function (value, row, index) {
                            //不输出任何东西
                            //return value.ok ? null : value.message;
                        },
                        styler: function (value, row, index) {
                            if (value) {
                                return "background:url('/Content/themes/icons/ico_yes.gif') no-repeat center center;";
                            }
                        },
                    },
                ]],

                toolbar: '#studedits-grid-tool',
                pagination: true,
                pageSize: 100,
                pageList: [100, 200, 500],
                pageNumber: 1,
            });
        })
    </script>
</head>
<body>
    <table id="studedits-grid"></table>
    <div id="studedits-grid-tool">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="studedits.edit();">更新</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-yes" plain="true" onclick="studedits.fix();">确认</a>
                    </td>
   </tr>
            </thead>
        </table>
    </div>
</body>
</html>
